<a href="#" (click)="onClick($event)" class="ui-table-sort-icon">
    <i class="ui-sortable-column-icon fa" [ngClass]="{'ui-icon-keyboard-arrow-up': sortOrder === 1, 'ui-icon-keyboard-arrow-down': sortOrder === -1, 'ui-icon-unfold-more': sortOrder === 0}"></i>
</a>
