<div class="topbar clearfix">
    <div class="topbar-left">
        <div class="logo"></div>
    </div>
    <div class="topbar-right">
        <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)">
            <i></i>
        </a>
        <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
            <i class="material-icons">menu</i>
        </a>
        <ul class="topbar-items animated fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}">
            <li #settings [ngClass]="{'active-top-menu':app.activeTopbarItem === settings}">
                <a href="#" (click)="app.onTopbarItemClick($event,settings)">
                    <i class="topbar-icon material-icons">settings</i>
                    <span class="topbar-item-name">Settings</span>
                </a>
                <ul class="ultima-menu animated fadeInDown">
                    <li role="menuitem">
                        <a logout>
                            <i class="material-icons">power_settings_new</i>
                            <span>{{'SAIR' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="lista-idioma-topbar">
            <li *ngFor="let idioma of idiomaList">
                <a (click)="mudarIdioma(idioma.identificador)">
                    <img class="idioma-topbar" [src]="idioma.imagem" [alt]="idioma.titulo"/>
                </a>
            </li>
        </ul>

    </div>
</div>
