<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <span class="page-title">{{'USUARIO' | translate}} - </span>
            <span class="page-subtitle">{{'ALTERAR_SENHA' | translate}}</span>
        </div>
        <form #ngForm="ngForm" (ngSubmit)="salvar()">
            <p-fieldset legend="{{'SENHA' | translate}}">
                <div class="ui-g-12 padding-bottom">
                    <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                        <app-input-label field="senhaAtual" [form]="ngForm" label="{{'SENHA_ATUAL' | translate}}" [required]="true">
                            <input id="inputSenhaAtual" pInputText type="password" name="senhaAtual"
                                   [(ngModel)]="senhaUsuario.senhaAtual"  maxLength="200" required (blur)="validarSenha()">
                        </app-input-label>
                    </div>
                </div>

                <div class="ui-g-12 padding-bottom">
                    <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                        <app-input-label field="novaSenha" [form]="ngForm" label="{{'SENHA_NOVA' | translate}}" [required]="true">
                            <input id="inputNovaSenha" pInputText type="password" name="novaSenha" [pTooltip]="mensagemSenha"
                                   [(ngModel)]="senhaUsuario.novaSenha" maxLength="200"
                                   (blur)="validarNovaSenha(senhaUsuario.novaSenha)" required>
                        </app-input-label>
                    </div>
                </div>

                <div class="ui-g-12 padding-bottom">
                    <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                        <app-input-label field="confirmarSenha" [form]="ngForm" label="{{'SENHA_CONFIRMACAO' | translate}}" [required]="true">
                            <input id="inputConfirmarSenha" pInputText type="password" name="confirmarSenha"
                                   [(ngModel)]="senhaUsuario.confirmarSenha"  maxLength="200"
                                   (blur)="validarNovaSenha(senhaUsuario.confirmarSenha)" required>
                        </app-input-label>
                    </div>
                </div>
            </p-fieldset>
            <div class="ui-g-12">
                <div class="ui-md-offset-6 ui-g-3 ui-sm-12">
                    <button id="btnSalvar" pButton label="{{'SALVAR' | translate}}" [disabled]="!ngForm.valid"></button>
                </div>
                <div class="ui-g-3 ui-sm-12">
                    <button id="btnVoltar" pButton label="{{'VOLTAR' | translate}}" type="button" (click)="voltar()"></button>
                </div>
            </div>
        </form>
    </div>
</div>
