<p-fieldset legend="{{'CENTRAL_COMUNICACAO.CONSULTAR' | translate}}">

    <div class="ui-g-12">
        <form [formGroup]="form">

            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <input id="nomeProjeto" formControlName="nomeProjeto" type="text" pInputText/>
                        <label for="nomeProjeto">{{'CENTRAL_COMUNICACAO.GRID.NOME_PROJETO' | translate}}:</label>
                    </span>
                </div>

                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <p-inputMask id="protocolo"
                                     formControlName="protocolo"
                                     mask="PRJ99999999/99"></p-inputMask>
                        <label for="protocolo">{{'CENTRAL_COMUNICACAO.GRID.PROTOCOLO' | translate}}:</label>
                    </span>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <p-calendar formControlName="dataInicio"
                                    [maxDate]="form.get('dataConclusao').value ? form.get('dataConclusao').value : null"
                                    id="dataInicio"
                                    dateFormat="dd/mm/yy"></p-calendar>
                        <label for="dataInicio">{{'CENTRAL_COMUNICACAO.GRID.DATA_INICIO' | translate}}:</label>
                    </span>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <p-calendar formControlName="dataConclusao"
                                    [minDate]="form.get('dataInicio').value ? form.get('dataInicio').value : null"
                                    id="dataConclusao"
                                    dateFormat="dd/mm/yy"></p-calendar>
                        <label for="dataConclusao">{{'CENTRAL_COMUNICACAO.GRID.DATA_FINAL' | translate}}:</label>
                    </span>
                </div>
            </div>

            <div class="ui-g-12">

                <div *ngIf="segmentos.length"
                     class="ui-g-6 ui-sm-12 fix-label-multiSelect">
                    <label for="segmentoList">{{'CENTRAL_COMUNICACAO.GRID.SEGMENTOS' | translate}}:</label>
                    <p-multiSelect [options]="segmentos"
                                   [filter]="false"
                                   defaultLabel="{{'SELECIONE' | translate}}"
                                   selectedItemsLabel="{0} {{'ITENS_SELECIONADOS' | translate}}"
                                   id="segmentoList"
                                   optionLabel="label"
                                   formControlName="segmentoList"></p-multiSelect>
                </div>

                <div class="ui-g-6 ui-sm-12">
                    <app-dropdown-status [notStatusList]="[1,2,3,4,5,6,7,8,9,10]" formControlName="status"
                                         label="{{'CENTRAL_COMUNICACAO.GRID.STATUS' | translate}}:"></app-dropdown-status>
                </div>

            </div>

        </form>

    </div>

    <div class="ui-g-12">
        <div class="ui-md-offset-6 ui-g-3 ui-sm-12">
            <button (click)="consultar()" id="btnConsulta" pButton label="{{'CENTRAL_COMUNICACAO.CONSULTAR' | translate}}" type="button">
            </button>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <button (click)="fecharFiltro()" id="btnCancelar" pButton label="{{'CENTRAL_COMUNICACAO.CANCELAR' | translate}}" type="button"></button>
        </div>
    </div>

</p-fieldset>
