<div class="ui-g ui-fluid">

    <div class="ui-g-12">
        <div class="ui-g-12">
            <h1 class="page-title">{{'CENTRAL_COMUNICACAO.TITULO' | translate}}</h1>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2 ui-sm-12">
            <button id="btnConsultar"
                    (click)="consultarModal = true"
                    pButton
                    label="{{'CENTRAL_COMUNICACAO.CONSULTAR' | translate}}"></button>
        </div>
    </div>

    <div *ngIf="usuarioId && consultarModal" class="ui-g-12">
        <app-central-comunicacao-lista-consulta (formCriado)="formCriado($event)"
                                                (fecharFiltroEvent)="resetarFiltros()"
                                                (consultarEvent)="consultar()"
                                                [usuarioId]="usuarioId"
                                                [perfil]="perfilUsuario"></app-central-comunicacao-lista-consulta>
    </div>

    <div *ngIf="usuarioId" class="ui-g-12">
        <app-central-comunicacao-lista-grid [filterConsultar]="filter"
                                            [usuarioId]="perfilUsuario == 'EMPREENDEDOR' ? usuarioId : null"></app-central-comunicacao-lista-grid>
    </div>

</div>
