<span class="ui-float-label">

    <p-dropdown #dropdown
                [options]="optionList"
                [title]="title"
                [(ngModel)]="value"
                [autoDisplayFirst]="autoDisplayFirst"
                [showClear]="false"
                [disabled]="disabled"
                [group]="group"
                [id]="attributeId"></p-dropdown>

    <label *ngIf="label"
           [for]="attributeId">
        {{ label }}
    </label>

</span>
