<div class="ui-g-12">
    <form #ngForm="ngForm" (ngSubmit)="salvar(ngForm)">
        <p-fieldset [legend]="'IDENTIFICACAO' | translate" *ngIf="exibirCampos()">
            <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                <div class="ui-g-12 padding-bottom">
                    <app-input-label field="passaporte" [form]="ngForm" [label]="('NUMERO_PASSAPORTE' | translate) + ':'"
                                     [required]="!isGestor()">
                        <input id="inputPassaporte" pInputText type="text" name="passaporte" maxLength="8"
                               [(ngModel)]="usuario.passaporte" (blur)="verificarCampo(usuario.passaporte, campo.PASSAPORTE)"
                               [disabled]="isDisabled()">
                    </app-input-label>
                </div>
                <div class="ui-g-12 padding-bottom" *ngIf="isEmpreendedor()">
                    <app-input-label field="cnpj" [form]="ngForm" [label]="('CNPJ' | translate) + ':'" [required]="isEmpreendedor()">
                        <p-inputMask id="inputCnpj" [(ngModel)]="usuario.cnpj" name="cnpj" unmask="true"
                                     [class]="usuario.cnpj ? 'ng-valid ui-inputwrapper-filled ng-touched ng-dirty' : null"
                                     mask="99.999.999/9999-99" (onBlur)="verificarCampo(usuario.cnpj, campo.CNPJ)" [disabled]="isDisabled()">
                        </p-inputMask>
                    </app-input-label>
                </div>
                <div class="ui-g-12 padding-bottom">
                    <app-input-label field="cpf" [form]="ngForm" [label]="('CPF' | translate) + ':'" [required]="!isGestor()">
                        <p-inputMask id="inputCpf" [(ngModel)]="usuario.cpf" name="cpf" mask="999.999.999-99"
                                     [class]="usuario.cnpj ? 'ng-valid ui-inputwrapper-filled ng-touched ng-dirty' : null"
                                     unmask="true" (onBlur)="verificarCampo(usuario.cpf, campo.CPF)" [disabled]="isDisabled()">
                        </p-inputMask>
                    </app-input-label>
                </div>
                <div class="ui-g-12 padding-bottom" *ngIf="isEmpreendedor()">
                    <app-input-label field="rne" [form]="ngForm" [label]="('RNE' | translate) + ':'" [required]="isEmpreendedor()">
                        <input id="inputRne" pInputText type="text" name="rne" [(ngModel)]="usuario.rne"
                               maxLength="9" (blur)="verificarCampo(usuario.rne, campo.RNE)" [disabled]="isDisabled()">
                    </app-input-label>
                </div>
                <div class="ui-g-offset-2 ui-g-10 padding-bottom">
                    <label>{{'PREENCHA_CAMPOS' | translate}}</label>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset [legend]="'DADOS_PESSOAIS' | translate">
            <div class="ui-g-12 padding-bottom" *ngIf="mostrarParaGestor()">
                <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                    <app-input-label field="nome" [form]="ngForm" [label]="('NOME' | translate) + ':'" required="true"
                                     [labelObrigatorio]="'CAMPO_OBRIGATORIO' | translate">
                        <input id="inputNome" pInputText type="text" name="nome" [(ngModel)]="usuario.nome"
                               maxLength="150" required="true" [disabled]="isDisabled()">
                    </app-input-label>
                </div>
            </div>
            <div class="ui-g-12 padding-bottom">
                <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                    <app-input-label field="email" [form]="ngForm" [label]="('EMAIL' | translate) + ':'" required="true"
                                     [labelObrigatorio]="'DADO_INVALIDO' | translate">
                        <input id="inputEmail" pInputText type="text" name="email" [(ngModel)]="usuario.email"
                               email maxLength="200" (blur)="verificarEmail(usuario.email, campo.EMAIL, ngForm)" [required]="true"
                               [disabled]="isDisabled()">
                    </app-input-label>
                </div>
            </div>
            <div class="ui-g-12 padding-bottom" *ngIf="!isGestor()">
                <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                    <app-input-label field="linkedin" [form]="ngForm" [label]="('LINKEDIN' | translate) + ':'" labelObrigatorio="Dado inválido.">
                        <input id="inputLinkedin" pInputText type="text" name="linkedin" [(ngModel)]="usuario.linkedin"
                               maxLength="300" (blur)="verificarCampo(usuario.linkedin, campo.LINKEDIN)"
                               [pattern]="constants.PATTERN_LINKEDIN" [disabled]="isDisabled()">
                    </app-input-label>
                </div>
            </div>
            <div class="ui-g-12 padding-bottom">
                <div class="ui-md-offset-3 ui-g-4 ui-sm-12">
                    <app-input-label [label]="('TELEFONE' | translate) + ':'">
                        <input id="inputTelefone" pInputText name="telefone" [(ngModel)]="usuario.telefone"
                               (keyup)="entradaTelefone($event)" (keypress)="verificarCaractere()"
                               maxLength="30" [disabled]="isDisabled()">
                    </app-input-label>
                </div>
                <div class="ui-g-2 ui-sm-12" *ngIf="!isDisabled()">
                    <button id="btnAdd" type="button" pButton class="side-button" icon="ui-icon-plus"
                            (click)="adicionarTelefone()" [disabled]="verificarTelefones()">
                    </button>
                </div>
            </div>
            <div class="ui-g-12 padding-bottom">
                <div class="ui-md-offset-3 ui-g-6 ui-sm-12">
                    <p-table [columns]="cols" [value]="usuario.telefones" responsive="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>{{'TELEFONES' | translate}}</th>
                                <th *ngIf="!isDisabled()"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr class="align-center">
                                <td>{{rowData.numero}}</td>
                                <td *ngIf="!isDisabled()">
                                    <button id="btnRemoveTel" type="button" pButton class="side-button"
                                            icon="ui-icon-remove" (click)="removerTelefone(rowData, ngForm)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset [legend]="'ENDERECO' | translate" *ngIf="!isGestor()">
            <div class="ui-md-offset-3 ui-g-5 ui-sm-12">
                <div class="ui-g-12 padding-bottom">
                    <app-input-label field="pais" [form]="ngForm" [label]="('PAIS' | translate) + ':'">
                        <input id="inputPais" pInputText type="text" name="pais" maxLength="200"
                               [(ngModel)]="usuario.endereco.pais" [disabled]="isDisabled()">
                    </app-input-label>
                </div>
            </div>
            <div class="ui-md-offset-3 ui-g-5 ui-sm-12">
                <div class="ui-g-12 padding-bottom">
                    <app-input-label field="estado" [form]="ngForm" [label]="('ESTADO'| translate) + ':'">
                        <input id="inputEstado" pInputText type="text" name="estado" maxLength="200"
                               [(ngModel)]="usuario.endereco.estado" [disabled]="isDisabled()">
                    </app-input-label>
                </div>
            </div>
            <div class="ui-md-offset-3 ui-g-5 ui-sm-12">
                <div class="ui-g-12 padding-bottom">
                    <app-input-label field="cidade" [form]="ngForm" [label]="('CIDADE' | translate) + ':'">
                        <input id="inputCidade" pInputText type="text" name="cidade" maxLength="200"
                               [(ngModel)]="usuario.endereco.cidade" [disabled]="isDisabled()">
                    </app-input-label>
                </div>
            </div>
            <div class="ui-md-offset-3 ui-g-5 ui-sm-12">
                <div class="ui-g-12 padding-bottom">
                    <app-input-label field="codigoPostal" [form]="ngForm" [label]="('COD_POSTAL' | translate) + ':'">
                        <input id="inputCodigoPostal" pInputText name="codigoPostal" maxLength="20"
                               [(ngModel)]="usuario.endereco.codigoPostal" [disabled]="isDisabled()" pKeyFilter="int">
                    </app-input-label>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset [legend]="'AREAS_INTERESSE' | translate" *ngIf="isInvestidor()">
            <div class="ui-g-6 p-d-flex ui-sm-12" *ngFor="let area of areasInteresse">
                <div class="p-field-checkbox">
                    <p-checkbox name="area" [value]="area.id" [(ngModel)]="usuario.areaInteresseIds" [disabled]="isDisabled()">
                    </p-checkbox>
                    <label>{{area.nome}}</label>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Informações Adicionais" *ngIf="exibirCamposInfoAdicional()">
            <div class="ui-md-offset-1 ui-sm-12">
                <label>Informações Adicionais:</label>
            </div>
            <div class="ui-md-offset-1 ui-g-10 ui-sm-12">
                <app-input-label field="informacaoAdicional" [form]="ngForm">
                        <textarea id="text-area" [rows]="10" [(ngModel)]="usuario.informacaoAdicional" maxlength="2500"
                                  name="informacaoAdicional" [required]="!isGestor()" [disabled]="isDisabled()">
                        </textarea>
                </app-input-label>
            </div>
        </p-fieldset>
        <div class="ui-g-12" *ngIf="!isDisabled()">
            <div class="ui-g-3 ui-sm-12" >
                <button id="btnSalvar" pButton [label]="('SALVAR' | translate)" [disabled]="validarCampos(ngForm)"></button>
            </div>
            <div class="ui-g-3 ui-sm-12">
                <button id="btnCancelar" pButton [label]="('CANCELAR' | translate)" type="button"
                        (click)="acaoCancelar(ngForm.dirty)"></button>
            </div>
        </div>
        <div class="ui-g-12" *ngIf="isDisabled()">
            <div class="ui-md-offset-9 ui-g-3 ui-sm-12">
                <button id="btnVoltar" pButton label="Voltar" type="button"
                        (click)="voltar()"></button>
            </div>
        </div>
    </form>
</div>
