<button id="btnVisualizar"
        [routerLink]="[item.id]"
        pButton
        icon="ui-icon-search"
        title="{{'PROJETOS.GRID.ACOES.VISUALIZAR' | translate}}"></button>

<button *ngIf="podeEditar"
        [routerLink]="['editar', item.id]"
        id="btnEditar"
        pButton
        icon="ui-icon-edit"
        title="{{'PROJETOS.GRID.ACOES.EDITAR' | translate}}"></button>
