@import '../../../assets/sass/_variables.scss';

app-projetos-visualizacao {

    .ui-g-6, .ui-g-12 {
        //font-size: 18px !important;
    }

    .page-title {
        button {
            width: auto!important;
            font-size: 15px;
        }
    }

    hr {
        background: #efefef;
        height: 2px;
        display: block;
        width: 100%;
        clear: both;
        border: 0;
    }

    .ui-card {
        overflow: hidden;
        display: block;

        .ui-card-body {
            height: auto;
        }
    }

    .badge-segmento {
        background: $green;
        color: #fff;
        margin-left: 5px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .padding-bottom-20px {
        padding-bottom: 20px;
    }

    .text-center {
        text-align: center;
        display: block;
        padding: 20px;
    }

    .align-right {
        float: right;
    }

    .ql-editor-fix {
        padding: 0;
    }


    p-card .button-list {
        padding-left: 25px;
        padding-bottom: 20px;
    }

    .resposta-div {
        float: right;
    }

    .historico {

        .ui-card {

            border-radius: 5px;
            background: #fff;
            //font-size: 18px;

            .ui-card-body {
                padding: 0;
            }

            .ql-editor {
                padding: 20px 10px;
            }

            .titulo-card {
                //font-size: 18px;
                opacity: 1;
                color: #000;
                padding: 20px 10px;
                background: #ddd;
                margin: 0;
            }

            .protocolo-card {
                //font-size: 18px;
                opacity: 1;
                color: #000;
                padding: 20px 10px 0;
                background: #ddd;
                margin: 0;
            }

            .titulo-card-1, .titulo-card-5 {

                color: #000;
                background-color: $amber;

            }

            .titulo-card-3 {

                color: #fff;
                background-color: $teal;

            }

            .titulo-card-4 {

                color: #fff;
                background-color: $redHover;

            }

            .titulo-card-6 {

                color: #fff;
                background-color: $indigoHover;

            }
        }
    }

    .badge-status {
        //font-size: 18px;
        margin: 0 auto;
        border-radius: 5px;
        padding: 10px 15px;
        display: table;
    }

    .badge-status-4 {

        color: #000;
        background-color: $amber;

    }

    .badge-status-5 {

        color: #fff;
        background-color: $indigoHover;

    }

    .badge-status-6 {

        color: #fff;
        background-color: $teal;

    }

    .badge-status-7 {

        color: #fff;
        background-color: $red;

    }

    .badge-status-8 {

        color: #fff;
        background-color: $purple;

    }

    .badge-status-9 {

        color: #fff;
        background-color: $redHover;

    }

    .badge-status-10 {

        color: #000;
        background-color: $amber;

    }

    p-dialog {
        .ui-dialog-title {
            font-size: 2em!important;
            display: block;
            text-align: center;
        }
        .button-list {

            button {

                width: 100% !important;
                font-size: 18px;

            }
        }
    }

    .button-list {
        display: flex;
        flex-direction: row;

        button {
            width: auto !important;
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }

            &.ui-button-warning {
                .pi {
                    color: #000 !important;
                }
            }

            .pi {
                font-size: 1.5em;
            }
        }
    }

    .ui-dialog-content {
        width: 100%;
        max-width: 100% !important;
    }

}
