<div *ngIf="projeto"
     class="ui-g ui-fluid">

    <div class="ui-g-12">
        <span class="page-title">{{projeto.protocolo}}
            <span *ngIf="!podeFavoritar && !podeDesfavoritar"
                  class="page-subtitle align-right">{{('STATUS.' + projeto.statusId) | translate}}</span>
            <button *ngIf="podeFavoritar"
                    (click)="favoritar()"
                    pButton
                    class="ui-button-danger align-right"
                    icon="pi pi-heart"
                    label="{{'PROJETOS.VISUALIZAR_PROJETO.FAVORITAR' | translate}}"></button>
            <button *ngIf="podeDesfavoritar"
                    (click)="desfavoritar()"
                    pButton
                    class="ui-button-danger align-right"
                    icon="pi pi-heart"
                    label="{{'PROJETOS.VISUALIZAR_PROJETO.DESFAVORITAR' | translate}}"></button>
        </span>
    </div>

    <div class="ui-g-12">
        <p-messages [(value)]="mensagensAlerta"></p-messages>
    </div>

    <div class="ui-g-12">
        <p-card>

            <div class="ui-g-12" *ngIf="internacionalizacao">

                <div class="ui-g-6 ui-sm-12">
                    <b>{{'PROJETOS.FORM.CAMPOS.NOME' | translate}}:</b> {{internacionalizacao.nome}}
                </div>

                <div *ngIf="getImagemNome(internacionalizacao)" class="ui-g-6">
                    <b>{{'PROJETOS.FORM.IMAGENS' | translate}}:</b> <a style="color: blue; cursor: pointer;"
                                        (click)="baixarArquivo(getImagemId(internacionalizacao))"> <i
                    class="pi pi-paperclip"></i> {{getImagemNome(internacionalizacao)}}
                </a>
                </div>

            </div>

            <ng-container *ngIf="projeto.empresas.length">
                <ng-container *ngFor="let empresa of projeto.empresas">

                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <hr>
                        </div>
                    </div>

                    <div class="ui-g-12">

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.RESPONSAVEL' | translate}}:</b> {{empresa.responsavel ? empresa.responsavel : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.INCORPORADOR' | translate}}:</b> {{empresa.proprietario ? empresa.proprietario : '-' }}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.RAZAO_SOCIAL' | translate}}:</b> {{empresa.razaoSocial ? empresa.razaoSocial : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.CNPJ' | translate}}:</b> {{empresa.cnpj ? formataCNPJ(empresa.cnpj) : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.NACIONALIDADE_EMPRESA' | translate}}:</b> {{empresa.pais ? ('PAISES.' + empresa.pais.id | translate) : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.SITE' | translate}}:</b>
                            <a *ngIf="empresa.url"
                               [href]="formataUrl(empresa.url)"
                               target="_blank"> {{formataUrl(empresa.url)}}</a>
                            <ng-container *ngIf="!empresa.url"> -</ng-container>
                        </div>

                    </div>

                </ng-container>
            </ng-container>


            <ng-container *ngIf="projeto.detalhes.length">
                <ng-container *ngFor="let detalhe of projeto.detalhes">

                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <hr>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.NATUREZA_INVESTIMENTO' | translate}}:</b> {{detalhe.naturezaInvestimento ? detalhe.naturezaInvestimento.nome : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.MODELO_CONTRATO' | translate}}:</b> {{detalhe.modeloContrato ? ('MODELO_CONTRATO.' + detalhe.modeloContrato.id | translate) : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.VALOR_ESTIMADO' | translate}}:</b> {{detalhe.valorProjeto ? (detalhe.valorProjeto | currency) : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.ESTIMATIVA_EMPREGOS' | translate}}:</b> {{detalhe.empregosProjeto ? detalhe.empregosProjeto : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.AREA_CONSTRUIDA' | translate}}:</b> {{detalhe.areaConstruida ? detalhe.areaConstruida : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.AREA_TOTAL' | translate}}:</b> {{detalhe.areaTotal ? detalhe.areaTotal : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.FORM.CAMPOS.GRUPO_OPERADOR' | translate}}:</b> {{detalhe.grupoOperador ? detalhe.grupoOperador : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <b>{{'PROJETOS.VISUALIZAR_PROJETO.CRONOGRAMA_PLANEJADO' | translate}}:</b> {{converterData(detalhe.dataInicio)}}
                            - {{converterData(detalhe.dataConclusao)}}
                        </div>
                    </div>

                </ng-container>
            </ng-container>

            <ng-container *ngIf="projeto.segmentos.length">

                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <hr>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-6 ui-md-12 ui-sm-12">
                        <b>{{'PROJETOS.FORM.SEGMENTO_PROJETO' | translate}}:</b>
                        <span *ngFor="let segmento of projeto.segmentos"
                              class="badge-segmento">{{('SEGMENTO.' + segmento.segmento.id) | translate}}</span>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="projeto.localizacoes.length">
                <ng-container *ngFor="let localizacao of projeto.localizacoes">

                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <hr>
                        </div>
                    </div>

                    <div class="ui-g-12">

                        <div class="ui-g-12">
                            <b>{{'PROJETOS.FORM.LOCALIZACAO_PROJETO' | translate}}:</b>
                            {{localizacao.estado ? localizacao.estado : '-'}}
                            {{localizacao.cidade ? ' - ' + localizacao.cidade : '-'}}
                        </div>

                        <div class="ui-g-6 ui-md-12 ui-sm-12">
                            <p-gmap *ngIf="optionsGmap"
                                    [options]="optionsGmap"
                                    [overlays]="overlaysGmap"
                                    [style]="{'width':'100%','height':'210px'}"></p-gmap>
                        </div>

                    </div>

                </ng-container>
            </ng-container>

            <div *ngIf="internacionalizacao">

                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <hr>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <b>{{'PROJETOS.FORM.CAMPOS.DESCRICAO' | translate}}:</b>
                        <div class="ui-g-12 ui-g-nopad" style="margin-top: 10px;">
                            <p-card>
                                <div class="ql-editor ql-editor-fix"
                                     [innerHTML]="internacionalizacao.descricao | safeHtml"></div>
                            </p-card>
                        </div>
                    </div>
                </div>

            </div>

            <ng-container *ngIf="projeto.empresas.length">
                <ng-container *ngFor="let empresa of projeto.empresas">

                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <hr>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <p-fieldset legend="{{'PROJETOS.VISUALIZAR_PROJETO.CONTATO' | translate}}">

                                <div class="ui-g-6">
                                    <b>{{'PROJETOS.FORM.CAMPOS.EMAIL' | translate}}:</b> {{empresa.email ? empresa.email : '-' }}
                                </div>

                                <div class="ui-g-6">
                                    <b>{{'PROJETOS.FORM.CAMPOS.TELEFONE' | translate}}:</b>
                                    <ng-container *ngIf="empresa.projetoEmpresaTelefoneList.length">
                                        <span *ngFor="let telefone of empresa.projetoEmpresaTelefoneList"
                                              class="badge-segmento">{{telefone.telefone}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="!empresa.projetoEmpresaTelefoneList.length">
                                        -
                                    </ng-container>
                                </div>

                            </p-fieldset>
                        </div>
                    </div>

                </ng-container>
            </ng-container>

            <ng-container *ngIf="pegaListaAnexos().length">

                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <hr>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <p-fieldset legend="{{'PROJETOS.FORM.CAMPOS.ANEXOS' | translate}}">

                            <div *ngFor="let anexo of pegaListaAnexos()" class="ui-g-4">
                                <a (click)="baixarArquivo(anexo.arquivoId)" style="color: blue; cursor: pointer;"><i
                                    class=" pi pi-paperclip"></i> {{anexo.arquivo}}</a>
                            </div>

                        </p-fieldset>
                    </div>
                </div>

            </ng-container>

        </p-card>
    </div>

    <div class="ui-g-12 historico padding-bottom-20px">

        <p-card *ngIf="mensagemList.length && usuariosMensagem.length">
            <span class="page-title text-center">{{'CENTRAL_COMUNICACAO.MENSAGEM' | translate}}</span>

            <div class="ui-g-12 historico">
                <div *ngFor="let mensagem of mensagemList" class="ui-g-12">
                    <p-card>
                        <p class="protocolo-card">
                            <b>{{mensagem.protocolo}}</b>

                            <i *ngIf="validaMensagemExclusao(mensagem)"
                               (click)="excluirMensagem(mensagem.id)"
                               class="pi pi-trash align-right cursor-pointer"></i>
                        </p>
                        <p class="titulo-card">
                            <b>{{getUsuarioNomeMensagem(mensagem)}}</b> {{pegaAcaoMensagem(mensagem)}}
                            - {{converterData(mensagem.dataCriacao)}}
                            às {{converterHora(mensagem.dataCriacao)}}
                        </p>

                        <div class="ql-editor" [innerHTML]="mensagem.descricao | safeHtml"></div>

                        <div *ngIf="mensagem.arquivoList.length" class="ui-g-12">
                            <div *ngFor="let anexo of mensagem.arquivoList" class="ui-g-12">
                                <a style="cursor:pointer; color: blue;"
                                   (click)="baixarArquivo(anexo.arquivo.id)" target="_blank">
                                    <i class="pi pi-paperclip"></i> {{anexo.arquivo.nome}}
                                </a>
                            </div>
                        </div>

                        <div *ngFor="let resposta of mensagem.respostaList" class="ui-g-11 resposta-div">
                            <p-card>
                                <p class="protocolo-card">
                                    <i *ngIf="validaMensagemExclusao(resposta)"
                                       (click)="excluirResposta(resposta.id)"
                                       class="pi pi-trash align-right cursor-pointer"></i>
                                </p>
                                <p class="titulo-card">
                                    <b>{{getUsuarioNomeMensagem(resposta)}}</b> {{pegaAcaoMensagem(resposta)}}
                                    - {{converterData(resposta.dataCriacao)}}
                                    às {{converterHora(resposta.dataCriacao)}}
                                </p>

                                <div class="ql-editor" [innerHTML]="resposta.descricao | safeHtml"></div>

                                <div *ngIf="resposta.arquivoList.length" class="ui-g-12">
                                    <div *ngFor="let anexo of resposta.arquivoList" class="ui-g-12">
                                        <a style="cursor:pointer; color: blue;"
                                           (click)="baixarArquivo(anexo.arquivo.id)" target="_blank">
                                            <i class="pi pi-paperclip"></i> {{anexo.arquivo.nome}}
                                        </a>
                                    </div>
                                </div>

                                <div class="ui-g-12 button-list"
                                     style="margin-top: 20px;">

                                    <button *ngIf="podeEditarResposta(resposta)"
                                            (click)="editarMensagem(resposta)"
                                            pButton
                                            icon="ui-icon-edit"
                                            id="btnEditarResposta"
                                            label="{{'CENTRAL_COMUNICACAO.EDITAR_RESPOSTA' | translate}}"></button>

                                </div>

                            </p-card>
                        </div>

                        <div class="ui-g-12 button-list"
                             style="margin-top: 20px;">

                            <button *ngIf="podeResponderMensagem(mensagem)"
                                    (click)="responderMensagem(mensagem)"
                                    pButton
                                    icon="ui-icon-edit"
                                    id="btnResponderMensagem"
                                    label="{{'CENTRAL_COMUNICACAO.RESPONDER' | translate}}"></button>

                            <button *ngIf="podeEditarMensagem(mensagem)"
                                    (click)="editarMensagem(mensagem)"
                                    pButton
                                    icon="ui-icon-edit"
                                    id="btnEditarMensagem"
                                    label="{{'CENTRAL_COMUNICACAO.EDITAR_MENSAGEM' | translate}}"></button>

                        </div>

                    </p-card>
                </div>
            </div>
        </p-card>

    </div>

    <div class="ui-g-12 historico padding-bottom-20px">

        <p-card *ngIf="projetoLinhaTemporal.length && usuarios.length">
            <span class="page-title text-center">{{'PROJETOS.VISUALIZAR_PROJETO.HISTORICO' | translate}}</span>

            <div class="ui-g-12 historico">
                <div *ngFor="let linhaTemporal of projetoLinhaTemporal" class="ui-g-12">

                    <div class="ui-g-12">

                        <div *ngIf="linhaTemporal.comentario"
                             class="ui-g-8 {{linhaTemporal.usuario == usuarioLogado.id ? 'align-right': ''}}">

                            <p-card
                                *ngIf="(linhaTemporal.acao.id != 2) || (linhaTemporal.acao.id == 2 && this.usuarioLogado.perfilEnum === 'GESTOR')">
                                <p class="titulo-card titulo-card-{{linhaTemporal.acao.id}}">
                                    <b>{{getUsuarioNome(linhaTemporal)}}</b> {{pegaAcaoLinhaTemporal(linhaTemporal)}}
                                    - {{('CENTRAL_COMUNICACAO.HORA_MENSAGEM' | translate : { data: converterData(linhaTemporal.dataCriacao),  hora: converterHora(linhaTemporal.dataCriacao) } ) }}

                                    <i *ngIf="validaComentario(linhaTemporal)"
                                       (click)="removerComentario(linhaTemporal.id)"
                                       class="pi pi-trash align-right cursor-pointer"></i>
                                </p>
                                <div class="ql-editor" [innerHTML]="linhaTemporal.comentario | safeHtml"></div>

                                <div *ngIf="linhaTemporal.linhaTemporalArquivoList.length" class="ui-g-12">
                                    <div *ngFor="let anexo of linhaTemporal.linhaTemporalArquivoList" class="ui-g-12">
                                        <a style="cursor:pointer; color: blue;"
                                           (click)="baixarArquivo(anexo.arquivo.id)" target="_blank">
                                            <i class="pi pi-paperclip"></i> {{anexo.arquivo.nome}}
                                        </a>
                                    </div>
                                </div>

                            </p-card>

                        </div>

                        <div *ngIf="linhaTemporal.status">
                            <div class="badge-status badge-status-{{linhaTemporal.status.id}}">
                                <span [innerHTML]="pegaLabelStatus(linhaTemporal)"></span>:
                                <b>{{ linhaTemporal.status.nome }}</b> - {{converterData(linhaTemporal.dataCriacao)}}
                                às {{converterHora(linhaTemporal.dataCriacao)}}</div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="ui-g-12 button-list" style="margin-top: 20px;">

                <button *ngIf="podeComentar"
                        (click)="comentar()"
                        pButton
                        icon="ui-icon-edit"
                        id="btnComentar"
                        label="{{ 'PROJETOS.VISUALIZAR_PROJETO.COMENTAR' | translate }}"></button>

                <button *ngIf="podeSolicitarEsclarecimento"
                        (click)="solicitarEsclarecimento()"
                        pButton
                        icon="pi pi-question-circle"
                        class="ui-button-warning"
                        id="btnSolicitarEsclarecimento"
                        label="{{ 'PROJETOS.VISUALIZAR_PROJETO.SOLICITAR_ESCLARECIMENTO' | translate }}"></button>

                <button *ngIf="podeResponderEsclarecimento"
                        (click)="responderEsclarecimento()"
                        pButton
                        icon="ui-icon-send"
                        class="ui-button-info"
                        id="btnResponderEsclarecimento"
                        label="{{ 'PROJETOS.VISUALIZAR_PROJETO.RESPONDER_ESCLARECIMENTO' | translate }}"></button>

                <button *ngIf="podeAprovar"
                        (click)="aprovar()"
                        pButton
                        icon="pi pi-check"
                        class="ui-button-info"
                        id="btnAprovar"
                        label="{{ 'PROJETOS.VISUALIZAR_PROJETO.APROVAR' | translate }}"></button>

                <button *ngIf="podeReprovar"
                        (click)="reprovar()"
                        pButton
                        icon="pi pi-times"
                        class="ui-button-danger"
                        id="btnReprovar"
                        label="{{ 'PROJETOS.VISUALIZAR_PROJETO.REPROVAR' | translate }}"></button>

                <button *ngIf="podeRestaurar"
                        (click)="restaurar()"
                        pButton
                        icon="pi pi-undo"
                        class="ui-button-success"
                        id="btnRestaurar"
                        label="{{ 'PROJETOS.VISUALIZAR_PROJETO.RESTAURAR' | translate }}"></button>

            </div>

        </p-card>

        <div class="ui-g-12 button-list" style="margin-top: 20px;">

            <button *ngIf="podeConversarEmpreendedor"
                    (click)="conversarEmpreendedor()"
                    pButton
                    icon="ui-icon-edit"
                    id="btnConversarEmpreendedor"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CONVERSE_EMPREENDEDOR' | translate }}"></button>

            <button pButton
                    [routerLink]="['/projetos']"
                    class="ui-button-secondary"
                    icon="ui-icon-reply"
                    id="btnVoltar"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.VOLTAR' | translate }}"></button>

        </div>

    </div>

</div>

<p-dialog *ngIf="projeto && modalComentario"
          [(visible)]="modalComentario"
          [modal]="true"
          [style]="{width: '85vw'}"
          header="{{ 'PROJETOS.VISUALIZAR_PROJETO.COMENTAR' | translate }}">

    <div class="ui-g-12">
        <app-projetos-visualizacao-modal-arquivos
            (formCriado)="formComentarioCriado($event)"></app-projetos-visualizacao-modal-arquivos>
    </div>

    <div class="ui-g-12" style="margin-top: 20px;">
        <div class="ui-g-12 button-list">

            <button (click)="realizarComentario()"
                    type="button"
                    pButton
                    icon="pi pi-check"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CONFIRMAR' | translate }}"></button>

            <button (click)="modalComentario = false"
                    type="button"
                    pButton
                    icon="ui-icon-close"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CANCELAR' | translate }}"
                    class="ui-button-secondary"></button>
        </div>
    </div>

</p-dialog>

<p-dialog *ngIf="projeto && modalSolicitarEsclarecimento"
          [(visible)]="modalSolicitarEsclarecimento"
          [modal]="true"
          [style]="{width: '85vw'}"
          header="{{ 'PROJETOS.VISUALIZAR_PROJETO.SOLICITAR_ESCLARECIMENTO' | translate }}">

    <div class="ui-g-12">
        <app-projetos-visualizacao-modal-arquivos
            (formCriado)="formSolicitarEsclarecimentoCriado($event)"></app-projetos-visualizacao-modal-arquivos>
    </div>

    <div class="ui-g-12" style="margin-top: 20px;">
        <div class="ui-g-12 button-list">
            <button (click)="realizarSolicitarEsclarecimento()"
                    type="button"
                    pButton
                    icon="pi pi-check"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CONFIRMAR' | translate }}"></button>

            <button (click)="modalSolicitarEsclarecimento = false"
                    type="button"
                    pButton
                    icon="ui-icon-close"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CANCELAR' | translate }}"
                    class="ui-button-secondary"></button>
        </div>
    </div>

</p-dialog>

<p-dialog *ngIf="projeto && modalResponderEsclarecimento"
          [(visible)]="modalResponderEsclarecimento"
          [modal]="true"
          [style]="{width: '85vw'}"
          header="{{ 'PROJETOS.VISUALIZAR_PROJETO.RESPONDER_ESCLARECIMENTO' | translate }}">

    <div class="ui-g-12">
        <app-projetos-visualizacao-modal-arquivos
            (formCriado)="formResponderEsclarecimentoCriado($event)"></app-projetos-visualizacao-modal-arquivos>
    </div>

    <div class="ui-g-12" style="margin-top: 20px;">
        <div class="ui-g-12 button-list">

            <button (click)="realizarResponderEsclarecimento()"
                    type="button"
                    pButton
                    icon="pi pi-check"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CONFIRMAR' | translate }}"></button>

            <button (click)="modalResponderEsclarecimento = false"
                    type="button"
                    pButton
                    icon="ui-icon-close"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CANCELAR' | translate }}"
                    class="ui-button-secondary"></button>
        </div>
    </div>

</p-dialog>

<p-dialog *ngIf="projeto && modalConversarEmpreendedor"
          [(visible)]="modalConversarEmpreendedor"
          (onHide)="limparModalMensagem()"
          [modal]="true"
          [style]="{width: '85vw'}"
          header="{{(resposta ? 'CENTRAL_COMUNICACAO.RESPONDER_MENSAGEM' : 'PROJETOS.VISUALIZAR_PROJETO.CONVERSE_EMPREENDEDOR') | translate }}">

    <div class="ui-g-12">
        <app-projetos-visualizacao-modal-arquivos (formCriado)="formConversarEmpreendedorCriado($event)"
                                                  [mensagem]="mensagemEdicao">
        </app-projetos-visualizacao-modal-arquivos>
    </div>

    <div class="ui-g-12" style="margin-top: 20px;">
        <div class="ui-g-12 button-list">

            <button (click)="realizarConversarEmpreendedor()"
                    type="button"
                    pButton
                    icon="pi pi-check"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CONFIRMAR' | translate }}"></button>

            <button (click)="modalConversarEmpreendedor = false"
                    type="button"
                    pButton
                    icon="ui-icon-close"
                    label="{{ 'PROJETOS.VISUALIZAR_PROJETO.CANCELAR' | translate }}"
                    class="ui-button-secondary"></button>
        </div>
    </div>

</p-dialog>
