<form *ngIf="form"
      [formGroup]="form">

    <div class="ui-g-12">
        <ng-container *ngFor="let idioma of idiomas">
            <div *ngIf="idioma.sigla !== idiomaSiglaPadrao"
                 class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
                <p-checkbox (onChange)="validaIdiomaSelecionado(idioma)"
                            label="{{ 'PROJETOS.FORM.DISPONIBILIZAR' | translate : {idioma: ('IDIOMA.' + idioma.id | translate) }  }}"
                            [value]="idioma.id"
                            [formControl]="form.controls['idiomasSelecionados']"
                            name="idiomasSelecionados"></p-checkbox>
            </div>
        </ng-container>
    </div>

    <div class="ui-g-12">

        <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
            <p-fieldset legend="{{ 'PROJETOS.FORM.IMAGENS' | translate }}">
                <div *ngFor="let control of pegaControlsInternacionalizacao()"
                     class="ui-g-nopad ui-flex-align">
                    <div class="ui-g-2">
                        <img width="100%" style="max-width: 32px;"
                             src="assets/images/idiomas/{{control.get('idiomaSigla').value}}.png">
                    </div>

                    <div class="ui-g-10">
                        <p-fileUpload #fileUpload
                                      (uploadHandler)="enviarArquivoImagem($event, control)"
                                      chooseLabel="{{ 'PROJETOS.FORM.UPLOAD' | translate }}"
                                      [customUpload]="true"
                                      [auto]="true"
                                      [accept]="imagemMimeType"
                                      mode="basic"></p-fileUpload>

                        <div *ngIf="pegaUrlImagem(control)"
                             (click)="removerImagem(control)"
                             class="deletar-imagem-container">
                            <div class="deletar-imagem">
                                <i class="pi pi-trash"></i>
                            </div>
                            <img [src]="pegaUrlImagem(control)" width="100%" style="margin-top: 10px;">
                        </div>
                    </div>
                </div>

                <span style="display: block; margin-top: 10px; color: #333; text-align: center;">{{ 'PROJETOS.FORM.IMAGEM_IDEAL' | translate }}</span>
            </p-fieldset>
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">
            <p-fieldset legend="{{ 'PROJETOS.FORM.IDENTIFICACAO_PROJETO' | translate }}">

                <p-fieldset legend="{{ 'PROJETOS.FORM.CAMPOS.NOME' | translate }}">
                    <div *ngFor="let control of pegaControlsInternacionalizacao()"
                         class="ui-g-nopad ui-flex-align">

                        <div class="ui-g-1">
                            <img width="100%" style="max-width: 32px;"
                                 src="assets/images/idiomas/{{control.get('idiomaSigla').value}}.png">
                        </div>

                        <div class="ui-g-11">
                            <span [formGroup]="control"
                                  class="ui-float-label">
                                <input id="nomeProjeto" formControlName="nome" type="text" pInputText/>
                                <label for="nomeProjeto">{{ 'PROJETOS.FORM.CAMPOS.NOME' | translate }}*:</label>
                            </span>

                            <app-form-messages [control]="control.get('nome')"></app-form-messages>
                        </div>

                    </div>
                </p-fieldset>

                <p-fieldset legend="{{ 'PROJETOS.FORM.CAMPOS.DESCRICAO' | translate }}">
                    <div *ngFor="let control of pegaControlsInternacionalizacao()"
                         class="ui-g-nopad ui-flex-align">

                        <div class="ui-g-1">
                            <img width="100%" style="max-width: 32px;"
                                 src="assets/images/idiomas/{{control.get('idiomaSigla').value}}.png">
                        </div>

                        <div class="ui-g-11">
                            <span [formGroup]="control" class="md-inputfield fix-label-editor">
                                <p-editor id="descricaoProjeto" formControlName="descricao"
                                          placeholder="{{ 'PROJETOS.FORM.CAMPOS.DESCRICAO' | translate }}*:"
                                          [style]="{'height':'320px'}"></p-editor>
                            </span>

                            <app-form-messages [control]="control.get('descricao')"></app-form-messages>
                        </div>

                    </div>
                </p-fieldset>

            </p-fieldset>
        </div>

    </div>

    <div class="ui-g-12">

        <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
            <p-gmap *ngIf="optionsGmap"
                    [options]="optionsGmap"
                    [overlays]="overlaysGmap"
                    [style]="{'width':'100%','height':'210px'}"></p-gmap>
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">

            <p-fieldset legend="{{ 'PROJETOS.FORM.LOCALIZACAO_PROJETO' | translate }}">

                <div class="ui-g-12">

                    <div class="ui-g-6 ui-lg-12 ui-md-12 ui-sm-12">
                        <span formGroupName="localizacao" class="ui-float-label">
                            <input (ngModelChange)="validaLatitudeLongitude()" id="latitudeLongitude"
                                   formControlName="latitudeLongitude" type="text" pInputText/>
                            <label for="latitudeLongitude">{{ 'PROJETOS.FORM.CAMPOS.LATITUDE_LONGITUDE' | translate }}:</label>
                        </span>
                    </div>

                </div>

                <div class="ui-g-12">

                    <div class="ui-g-6 ui-lg-6 ui-md-12">
                        <span formGroupName="localizacao" class="ui-float-label">
                            <input [readOnly]="true" id="estado" formControlName="estado" type="text" pInputText/>
                            <label for="estado">{{ 'PROJETOS.FORM.CAMPOS.ESTADO' | translate }}:</label>
                        </span>
                    </div>

                    <div class="ui-g-6 ui-lg-6 ui-md-12">
                        <span formGroupName="localizacao" class="ui-float-label">
                            <input [readOnly]="true" id="cidade" formControlName="cidade" type="text" pInputText/>
                            <label for="cidade">{{ 'PROJETOS.FORM.CAMPOS.CIDADE' | translate }}:</label>
                        </span>
                    </div>

                </div>

                <div class="ui-g-12">
                    <p class="align-center">
                        {{ 'PROJETOS.FORM.DUVIDA_LATITUDE' | translate }}, <a style="color: blue; cursor: pointer;"
                                      (click)="exibirTutorialMapa = !exibirTutorialMapa">{{ 'PROJETOS.FORM.CLIQUE_AQUI' | translate }}</a>
                    </p>

                    <img *ngIf="exibirTutorialMapa"
                         style="display: block; width: 100%; max-width: 100%;"
                         src="/assets/images/tutorial-mapa.gif">
                </div>
            </p-fieldset>

        </div>

    </div>

    <div class="ui-g-12">

        <div class="ui-g-3">
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">
            <p-fieldset legend="{{ 'PROJETOS.FORM.DADOS_EMPREENDEDOR' | translate }}"
                        formGroupName="empresa">

                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <span class="ui-float-label">
                            <input id="razaoSocial" formControlName="razaoSocial" type="text" pInputText/>
                            <label for="razaoSocial">{{ 'PROJETOS.FORM.CAMPOS.RAZAO_SOCIAL' | translate }}:</label>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <p-inputMask id="cnpj"
                                         formControlName="cnpj"
                                         mask="99.999.999/9999-99"
                                         [unmask]="true"></p-inputMask>
                            <label for="cnpj">{{ 'PROJETOS.FORM.CAMPOS.CNPJ' | translate }}:</label>
                        </span>

                        <app-form-messages [control]="form.get('empresa').get('cnpj')"></app-form-messages>
                    </div>
                    <div class="ui-g-6 ui-sm-12">
                        <app-dropdown-pais formControlName="pais"
                                           label="{{ 'PROJETOS.FORM.CAMPOS.NACIONALIDADE_EMPRESA' | translate }}:"></app-dropdown-pais>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input id="proprietario" formControlName="proprietario" type="text" pInputText/>
                            <label for="proprietario">{{ 'PROJETOS.FORM.CAMPOS.INCORPORADOR' | translate }}:</label>
                        </span>
                    </div>
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input id="responsavel" formControlName="responsavel" type="text" pInputText/>
                            <label for="responsavel">{{ 'PROJETOS.FORM.CAMPOS.RESPONSAVEL' | translate }}:</label>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input id="site" formControlName="site" type="text" pInputText/>
                            <label for="site">{{ 'PROJETOS.FORM.CAMPOS.SITE' | translate }}:</label>
                        </span>

                        <app-form-messages [control]="form.get('empresa').get('site')"></app-form-messages>
                    </div>
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input id="email" formControlName="email" type="text" pInputText/>
                            <label for="email">{{ 'PROJETOS.FORM.CAMPOS.EMAIL' | translate }}:</label>
                        </span>

                        <app-form-messages [control]="form.get('empresa').get('email')"></app-form-messages>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <p-chips appOnlyNumbers
                                     formControlName="telefoneList"
                                     [addOnBlur]="true"
                                     id="telefone"></p-chips>
                            <label for="telefone">{{ 'PROJETOS.FORM.CAMPOS.TELEFONE' | translate }}:</label>
                        </span>

                        <span style="display: block; margin-top: 10px; color: #333;">{{ 'PROJETOS.FORM.DUVIDA_TELEFONE' | translate }}.</span>
                    </div>
                </div>

            </p-fieldset>
        </div>
    </div>

    <div class="ui-g-12">

        <div class="ui-g-3">
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">
            <p-fieldset legend="{{ 'PROJETOS.FORM.CRONOGRAMA_ACAO' | translate }}"
                        formGroupName="detalhe">

                <div class="ui-g-12">
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <p-calendar formControlName="dataInicio"
                                        [maxDate]="form.get('detalhe').get('dataConclusao').value ? form.get('detalhe').get('dataConclusao').value : null"
                                        id="dataInicio"
                                        dateFormat="dd/mm/yy"></p-calendar>
                            <label for="dataInicio">{{ 'PROJETOS.FORM.CAMPOS.DATA_INICIO' | translate }}:</label>
                        </span>
                    </div>
                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <p-calendar formControlName="dataConclusao"
                                        [minDate]="form.get('detalhe').get('dataInicio').value ? form.get('detalhe').get('dataInicio').value : null"
                                        id="dataConclusao"
                                        dateFormat="dd/mm/yy"></p-calendar>
                            <label for="dataConclusao">{{ 'PROJETOS.FORM.CAMPOS.DATA_CONCLUSAO' | translate }}:</label>
                        </span>
                    </div>
                </div>

            </p-fieldset>
        </div>
    </div>

    <div class="ui-g-12">

        <div class="ui-g-3">
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">
            <p-fieldset legend="{{ 'PROJETOS.FORM.DETALHES_PROJETO' | translate }}"
                        formGroupName="detalhe">

                <div class="ui-g-12">

                    <div class="ui-g-6 ui-sm-12">
                        <app-dropdown-natureza-investimento formControlName="naturezaInvestimento"
                                                            label="{{ 'PROJETOS.FORM.CAMPOS.NATUREZA_INVESTIMENTO' | translate }}:"></app-dropdown-natureza-investimento>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <app-dropdown-modelo-contrato (ngModelChange)="validaOutroModeloContrato($event)"
                                                      formControlName="modeloContrato"
                                                      label="{{ 'PROJETOS.FORM.CAMPOS.MODELO_CONTRATO' | translate }}:"></app-dropdown-modelo-contrato>
                    </div>

                </div>

                <div *ngIf="mostrarOutroModeloContrato" class="ui-g-12">

                    <div class="ui-g-6">
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input id="outroModeloContrato" formControlName="outroModeloContrato" type="text"
                                   pInputText/>
                            <label for="outroModeloContrato">{{ 'PROJETOS.FORM.CAMPOS.OUTRO_MODELO_CONTRATO' | translate }}:</label>
                        </span>
                    </div>

                </div>

                <div class="ui-g-12">

                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input currencyMask
                                   class="align-left"
                                   id="valorProjeto"
                                   formControlName="valorProjeto"
                                   type="text"
                                   pInputText/>
                            <label for="valorProjeto">{{ 'PROJETOS.FORM.CAMPOS.VALOR_ESTIMADO' | translate }}:</label>
                        </span>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input appOnlyNumbers id="empregosProjeto" formControlName="empregosProjeto" type="text" pInputText/>
                            <label for="empregosProjeto">{{ 'PROJETOS.FORM.CAMPOS.ESTIMATIVA_EMPREGOS' | translate }}:</label>
                        </span>
                    </div>

                </div>

                <div class="ui-g-12">

                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input floatNumbers id="areaConstruida" formControlName="areaConstruida" type="text"
                                   pInputText/>
                            <label for="areaConstruida">{{ 'PROJETOS.FORM.CAMPOS.AREA_CONSTRUIDA' | translate }}:</label>
                        </span>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <span class="ui-float-label">
                            <input floatNumbers id="areaTotal" formControlName="areaTotal" type="text" pInputText/>
                            <label for="areaTotal">{{ 'PROJETOS.FORM.CAMPOS.AREA_TOTAL' | translate }}:</label>
                        </span>
                    </div>

                </div>

                <div class="ui-g-12">

                    <div class="ui-g-12">
                        <span class="ui-float-label">
                            <input id="grupoOperador" formControlName="grupoOperador" type="text" pInputText/>
                            <label for="grupoOperador">{{ 'PROJETOS.FORM.CAMPOS.GRUPO_OPERADOR' | translate }}:</label>
                        </span>
                    </div>

                </div>

            </p-fieldset>
        </div>

    </div>

    <div class="ui-g-12">

        <div class="ui-g-3">
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">
            <p-fieldset legend="{{ 'PROJETOS.FORM.SEGMENTO_PROJETO' | translate }}">
                <div class="ui-g-12">
                    <div *ngFor="let segmento of segmentoLista" class="ui-g-4 ui-lg-4 ui-md-12">
                        <p-checkbox label="{{ ('SEGMENTO.' + segmento.id) | translate }}"
                                    [value]="segmento.id"
                                    [formControl]="form.controls['segmentoList']"
                                    name="segmentoList"></p-checkbox>
                    </div>
                </div>
            </p-fieldset>
        </div>

    </div>

    <div class="ui-g-12">

        <div class="ui-g-3">
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">
            <p-fieldset legend="{{ 'PROJETOS.FORM.CAMPOS.ANEXOS' | translate }}">

                <div class="ui-g-12">
                    <div *ngFor="let control of pegaControlsInternacionalizacao()"
                         class="ui-g-nopad ui-flex-align">

                        <div class="ui-g-1">
                            <img width="100%" style="max-width: 32px;"
                                 src="assets/images/idiomas/{{control.get('idiomaSigla').value}}.png">
                        </div>

                        <div class="ui-g-11">
                            <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
                                <p-fileUpload #fileUploadAttachment
                                              (uploadHandler)="enviarArquivoAnexo($event, control)"
                                              chooseLabel="{{ 'PROJETOS.FORM.UPLOAD' | translate }}"
                                              [customUpload]="true"
                                              [auto]="true"
                                              [accept]="anexoMimeType"
                                              mode="basic"></p-fileUpload>
                            </div>

                            <div class="ui-g-12">
                                <div style="margin-top: 25px;" *ngIf="control.get('anexoList').value.length">
                                    <ul class="lista-anexos">
                                        <li *ngFor="let anexo of control.get('anexoList').value; let i = index;">
                                            <div class="deletar-anexo-container"
                                                 (click)="removerAnexo(i, control)">
                                                <div class="deletar-anexo">
                                                    <i class="pi pi-trash"></i>
                                                </div>
                                                <i class="pi pi-file"></i>
                                                <p>{{pegaNomeArquivo(anexo)}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </p-fieldset>
        </div>

    </div>


    <div class="ui-g-12">

        <div class="ui-g-3">
        </div>

        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12">
            <p-checkbox label="{{ 'PROJETOS.FORM.CAMPOS.TERMO' | translate }}"
                        binary="true"
                        [formControl]="form.controls['declaracaoTermo']"
                        name="declaracaoTermo"></p-checkbox>
        </div>

    </div>

</form>
