app-projetos-formulario {

    .align-left {
        text-align: left !important;
    }

    .ui-flex-align {
        display: flex;
        align-items: center;
        justify-content: end;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .deletar-imagem-container {
        position: relative;
        cursor: pointer;

        .deletar-imagem {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(220, 20, 60, 0.5);
            transition: 0.3s;

            i {
                color: #fff;
                font-size: 2.5rem;
            }
        }

        &:hover {
            .deletar-imagem {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .fix-label-editor > label {
        position: relative;
        top: 0;
        left: 0;
    }

    .ql-editor.ql-blank::before {
        font-style: normal;
        font-size: 1em;
    }

    .lista-anexos {
        list-style: outside none none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            background: #f1f1f1;
            box-sizing: border-box;
            width: 16.50%;
            text-align: center;
            border: 2px solid #e6e6e6;
            display: flex;
            flex-direction: column;

            .deletar-anexo-container {
                padding: 10px;
                position: relative;
                cursor: pointer;
                flex-grow: 1;

                .deletar-anexo {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    background: rgba(220, 20, 60, 0.5);
                    transition: 0.3s;

                    i {
                        color: #fff;
                        font-size: 2.5rem;
                    }
                }

                &:hover {
                    .deletar-anexo {
                        visibility: visible;
                        opacity: 1;
                    }
                }

            }
        }

        p {
            display: block;
            word-wrap: break-word;
        }

        i {
            font-size: 3rem;
        }
    }
}
