<div *ngIf="needShowError()">
    <ng-container *ngFor="let error of getErrors()">
        <span class="md-inputfield">
            <div class="ui-message ui-messages-error">{{getErrorName(error) | translate:getParams(error)}}</div>
        </span>
    </ng-container>
</div>
