<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <span class="page-title" *ngIf="cadastroInvestidor()">{{'TITULO_CADASTRO.INVESTIDOR' | translate}}</span>
            <span class="page-title" *ngIf="!cadastroInvestidor()">{{'TITULO_CADASTRO.EMPREENDEDOR' | translate}}</span>
        </div>
        <app-formulario [perfil]="perfil" [usuario]="usuario"></app-formulario>
    </div>
</div>
