<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <h1 class="page-title">Usuários</h1>
        </div>

        <div *ngIf="ativarFiltro" class="ui-g-12">
            <p-fieldset legend="Consultar">
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-4 ui-sm-12">
                        <app-dropdown-label id="selectAtatus" label="Status:" field="status"
                                            [selected]="filtroUsuario.status">
                            <p-dropdown [options]="statusEnum.selectItem" [(ngModel)]="filtroUsuario.status"
                                        name="status" (onChange)="filtroStatus()">
                            </p-dropdown>
                        </app-dropdown-label>
                    </div>
                    <div class="ui-g-4 ui-sm-12">
                        <app-dropdown-label id="selectPerfil" label="Perfil:" field="perfil"
                                            [selected]="filtroUsuario.perfilEnum">
                            <p-dropdown [options]="perfilEnum.selectItem" [(ngModel)]="filtroUsuario.perfilEnum" name="status"></p-dropdown>
                        </app-dropdown-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-4 ui-sm-12">
                        <app-input-label field="pais" label="País:">
                            <input id="inputPais" pInputText type="text" name="pais"
                                   [(ngModel)]="endereco.pais" maxLength="200">
                        </app-input-label>
                    </div>
                    <div class="ui-g-4 ui-sm-12">
                        <app-input-label field="estado" label="Estado:">
                            <input id="inputEstado" pInputText type="text" name="estado"
                                   [(ngModel)]="endereco.estado" maxLength="200">
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-4 ui-sm-12">
                        <app-input-label field="cidade" label="Cidade:">
                            <input id="inputCidade" pInputText type="text" name="cidade"
                                   [(ngModel)]="endereco.cidade" maxLength="200">
                        </app-input-label>
                    </div>
                    <div class="ui-g-4 ui-sm-12">
                        <app-input-label field="telefone" label="Telefone:">
                            <input id="inputTelefone" pInputText type="text" name="telefone"
                                   [(ngModel)]="filtroUsuario.telefone" maxLength="30" (keyup)="entradaTelefone()">
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-8 ui-sm-12">
                        <app-input-label field="passaporte" label="Passaporte:">
                            <input id="inputPassaporte" pInputText type="text" name="passaporte"
                                   [(ngModel)]="filtroUsuario.passaporte" maxLength="8">
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-8 ui-sm-12">
                        <app-input-label field="cnpj" label="CNPJ:">
                            <p-inputMask id="inputCnpj" [(ngModel)]="filtroUsuario.cnpj" name="cnpj" unmask="true"
                                         mask="99.999.999/9999-99">
                            </p-inputMask>
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-8 ui-sm-12">
                        <app-input-label field="cpf" label="CPF:">
                            <p-inputMask id="inputCpf" [(ngModel)]="filtroUsuario.cpf" name="cpf" mask="999.999.999-99"
                                         unmask="true">
                            </p-inputMask>
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-8 ui-sm-12">
                        <app-input-label field="rne" label="RNE:">
                            <input id="inputRne" type="text" pInputText name="rne" [(ngModel)]="filtroUsuario.rne"
                                   maxLength="9">
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-8 ui-sm-12">
                        <app-input-label field="nome" label="Nome:">
                            <input id="inputNome" type="text" pInputText name="nome" [(ngModel)]="filtroUsuario.nome"
                                   maxLength="150">
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-2 ui-g-8 ui-sm-12">
                        <app-input-label field="email" label="E-mail:">
                            <input id="inputEmail" pInputText name="email" [(ngModel)]="filtroUsuario.email"
                                   maxLength="200">
                        </app-input-label>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-md-offset-6 ui-g-3 ui-sm-12">
                        <button id="btnConsulta" pButton label="Consultar" type="button" (click)="filtroConsulta()"
                                [disabled]="verificaFiltros()">
                        </button>
                    </div>
                    <div class="ui-g-3 ui-sm-12">
                        <button id="btnCancelar" pButton label="Cancelar" type="button"
                                (click)="fecharFiltro()"></button>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="ui-g-12" *ngIf="!ativarFiltro">
            <div class="ui-g-3 ui-sm-12">
                <button id="btnCadastrar" pButton label="Cadastrar" (click)="buscarPerfil()"></button>
            </div>
            <div class="ui-g-3 ui-sm-12">
                <button id="btnConsultar" pButton label="Consultar" (click)="verFiltro()"></button>
            </div>
        </div>
        <div class="ui-g-12">

            <app-grid #gridComponent
                      *ngIf="callbackFunction"
                      [callbackBuscarDados]="callbackFunction"
                      [colunas]="colunas"
                      [filtros]="filtroUsuario"
                      [modoOrdenacao]="1"
                      titulo="Usuários"
                      campoOrdenacao="nome">

                <ng-template #acoesGrid let-item="item" let-i="i">

                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-3" *ngIf="statusSobAnaliseReprovado(item.status)">
                            <button id="btnVincular" pButton icon="ui-icon-accessibility" title="Moderar"
                                    (click)="vincularUsuario(item)">
                            </button>
                        </div>
                        <div class="ui-g-12 ui-md-3" *ngIf="!statusReprovado(item.status)">
                            <button id="btnVisualizar" pButton icon="ui-icon-search" title="Visualizar"
                                    [routerLink]="['visualizar/', item.id]">
                            </button>
                        </div>
                        <div class="ui-g-12 ui-md-3" *ngIf="statusAtivo(item.status)">
                            <button id="btnEditar" pButton icon="ui-icon-edit" title="Editar"
                                    [routerLink]="['alterar/', item.id]">
                            </button>
                        </div>
                        <div class="ui-g-12 ui-md-3 margin-top-10px" *ngIf="!statusSobAnaliseReprovado(item.status)">
                            <p-inputSwitch #switch id="btnAlterStatus" [ngModel]="statusAtivo(item.status)"
                                           (ngModelChange)="alterarStatus(item, switch)" title="Alterar Status">
                            </p-inputSwitch>
                        </div>
                    </div>
                </ng-template>

            </app-grid>
        </div>
    </div>
</div>

<p-dialog id="dialogCadastro" [visible]="dialogCadastro" responsive="true" closeIcon="false" modal="true" [showHeader]="false">
    <header class="align-center">
        <div class="ui-g-offset-11 ui-g-1">
            <button id="btnVoltar" class="btn-close" pButton [style]="{width: '25px', height: '25px'}"
                    icon="ui-icon-close" (click)="verDialogCadastro()"></button>
        </div>
        <div class="ui-g-12">
            <h1>Adicionar</h1>
        </div>
    </header>
    <div class="ui-g-12 align-center">
        <div class="ui-g-4 ui-sm-12" *ngFor="let perfil of perfis" [ngClass]="{'box-shadow-1em': filtroUsuario.perfilEnum == perfil.nome}">
            <p-card [id]="perfil.nome" class="cursor-pointer" (click)="selecionarPerfil(perfil.nome)">
                <i [class]="iconePerfil(perfil.nome)" class="icon-size"></i>
                <h2>{{perfil.nome}}</h2>
                <span>{{perfil.descricao}}</span>
            </p-card>
        </div>
    </div>
    <div class="ui-g-12 ui-fluid align-center">
        <div class="ui-md-offset-4 ui-g-4 ui-sm-12">
            <button id="btnConfirmar" pButton label="Confirmar" [disabled]="perfilSelecionado()"
                    [routerLink]="[acao.CADASTRAR, perfilEnum.urlItem(this.filtroUsuario.perfilEnum)]">
            </button>
        </div>
    </div>
</p-dialog>

<p-dialog id="dialogAtivar" [(visible)]="dialogStatus" responsive="true" closable="false"
          draggable="false" closeIcon="false" modal="true" [showHeader]="false">
    <div class="ui-g-12 align-center">
        <h2>Deseja realmente {{statusUsuario()}}?</h2>
    </div>
    <div class="ui-g-12 align-center" *ngIf="statusAtivo(usuario.status)">
        <p>{{mensagemDialog.mensagemInativar(usuario.perfilEnum)}}</p>
    </div>
    <div class="ui-g-12 align-center" *ngIf="mostrarMensagem()">
        <p>Se sim, justifique.</p>
    </div>
    <div class="ui-g-12 align-center" *ngIf="isEmpreendedorInativo()">
        <span class="md-inputfield">
            <textarea id="inputJustificativa" pInputTextarea class="ui-g-12 input-width" name="justificativa"
                      maxlength="255" [(ngModel)]="usuario.justificativa" autoResize="false"></textarea>
            <label>Justificativa</label>
        </span>
    </div>
    <p-footer>
        <div class="ui-g-12 align-center">
            <div class="ui-g-6">
                <button type="submit" pButton label="Salvar" (click)="confirmarAcao()" [disabled]="verificarStatus()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="Cancelar" (click)="cancelarAcao()"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-dialog id="dialogModerar" [(visible)]="dialogModerar" responsive="true" closable="false" [showHeader]="false"
          draggable="false" closeIcon="false" modal="true">
    <div class="ui-g-offset-11 ui-g-1">
        <button id="btnFechar" class="btn-close" pButton [style]="{width: '20px', height: '25px'}"
                icon="ui-icon-close" (click)="fecharModeracao()"></button>
    </div>
    <div class="ui-g-12 align-center">
        <div class="ui-g-12">
            <h2>Moderar</h2>
        </div>
        <p>Justifique.</p>
    </div>
    <div class="ui-g-12 align-center">
        <span class="md-inputfield">
            <textarea id="inputJustificarModeracao" pInputTextarea class="ui-g-12 input-width" name="justificativa"
                      maxlength="255" [(ngModel)]="usuario.justificativa" autoResize="false">
            </textarea>
            <label>Justificativa</label>
        </span>
    </div>
    <p-footer>
        <div class="ui-g-12 align-center">
            <div class="ui-g-6">
                <button type="button" pButton label="Aprovar" (click)="acaoModerar(statusEnum.ATIVO)"
                        [disabled]="!this.usuario.justificativa">
                </button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="Reprovar" (click)="acaoModerar(statusEnum.REPROVADO)"
                        [disabled]="!this.usuario.justificativa" >
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>
