<div class="ui-g ui-fluid">

    <div class="ui-g-12">
        <div class="ui-g-12">
            <h1 class="page-title">{{'PROJETOS.TITULO' | translate}}</h1>
        </div>
    </div>

    <div class="ui-g-12">
        <div *ngIf="['GESTOR', 'EMPREENDEDOR'].includes(perfilUsuario)" class="ui-g-2 ui-sm-12">
            <button routerLink="cadastro"
                    id="btnCadastrar"
                    pButton
                    label="{{'PROJETOS.CADASTRAR' | translate}}"></button>
        </div>
        <div class="ui-g-2 ui-sm-12">
            <button id="btnConsultar"
                    (click)="ativarConsultar()"
                    pButton
                    label="{{'PROJETOS.CONSULTAR' | translate}}"></button>
        </div>
    </div>

    <div *ngIf="usuarioId && consultarModal" class="ui-g-12">
        <app-projetos-lista-consulta (formCriado)="formCriado($event)"
                                     (fecharFiltroEvent)="resetarFiltros()"
                                     (consultarEvent)="consultar()"
                                     [usuarioId]="usuarioId"
                                     [perfil]="perfilUsuario"></app-projetos-lista-consulta>
    </div>

    <div *ngIf="usuarioId" class="ui-g-12" [ngSwitch]="perfilUsuario">
        <ng-container *ngSwitchCase="'GESTOR'">
            <app-projetos-lista-gestor [usuarioId]="usuarioId"
                                       [filterConsultar]="filter"></app-projetos-lista-gestor>
        </ng-container>
        <ng-container *ngSwitchCase="'EMPREENDEDOR'">
            <app-projetos-lista-empreendedor [usuarioId]="usuarioId"
                                             [filterConsultar]="filter"></app-projetos-lista-empreendedor>
        </ng-container>
        <ng-container *ngSwitchCase="'INVESTIDOR'">
            <app-projetos-lista-investidor [usuarioId]="usuarioId"
                                           [filterConsultar]="filter"></app-projetos-lista-investidor>
        </ng-container>
    </div>

</div>
