$primaryColor: #00AEEF;
$primaryDarkColor: darken($primaryColor, 5%);
$primaryLightColor: lighten($primaryColor, 5%);
$accentColor: #FFB830;
$accentDarkColor: darken($accentColor, 5%);
$accentLightColor: lighten($accentColor, 5%);
$accentTextColor: #212121;

@import '../sass/theme/_theme';

.layout-container .topbar {
    background-color: $primaryDarkColor;
}

.layout-container .topbar .topbar-right #menu-button {
    background-color: $accentColor;
}

body .ui-table th.ui-state-highlight {
    background-color: $primaryLightColor;
    border-color: $primaryLightColor;
}

body.contraste .ui-table th.ui-state-highlight {
    background-color: #000!important;
    border-color: #000!important;
}

body.contraste .ui-table th {
    background-color: #000!important;
    border-color: #000!important;
}

body.contraste .ui-table th span {
    color: #fff333!important;
}


body.contraste .ui-table th.ui-state-highlight span {
    color: #fff333!important;
}

body.contraste app-grid .ui-table-thead > tr > th.ui-state-highlight .ui-sortable-column-icon {
    color: #fff333!important;
}


body.contraste app-grid .ui-table-thead > tr > th .ui-sortable-column-icon {
    color: #fff333!important;
}

body.contraste .ui-table .ui-table-tbody > tr {
    &:nth-child(even) {
        background-color: #000;
    }
    &:nth-child(odd) {
        background-color: #333;
    }
}

body.contraste .ui-table .ui-table-tbody > tr > td {
    color: #fff333!important;
}
