<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <span class="page-title">Usuário - </span>
            <span class="page-subtitle">{{acao}} - {{this.perfil.nome | perfilPipe}}</span>
        </div>
        <app-formulario [perfil]="perfil" [usuario]="usuario"></app-formulario>
    </div>
</div>
