app-projetos-lista-consulta {

    .align-left {
        text-align: left !important;
    }

    .fix-label-multiSelect {
        position: relative;

        label {
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 0.8em;
            top: -0.3em;
            font-size: 12px;
            margin-top: -.5em;
            transition: .3s ease all;
            -moz-transition: .3s ease all;
            -webkit-transition: .3s ease all;
            color: #898989;
            line-height: 1;
        }
    }
}
