<p-fieldset legend="{{'PROJETOS.FORM.CAMPOS.CONSULTAR' | translate}}">

    <div class="ui-g-12">
        <form [formGroup]="form">

            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <input id="nome" formControlName="nome" type="text" pInputText/>
                        <label for="nome">{{'PROJETOS.FORM.CAMPOS.NOME' | translate}}:</label>
                    </span>
                </div>

                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <p-inputMask id="protocolo"
                                     formControlName="protocolo"
                                     mask="PRJ99999999"></p-inputMask>
                        <label for="protocolo">{{'PROJETOS.FORM.CAMPOS.PROTOCOLO' | translate}}:</label>
                    </span>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <p-inputMask id="cnpj"
                                     formControlName="cnpj"
                                     mask="99.999.999/9999-99"
                                     [unmask]="true"></p-inputMask>
                        <label for="cnpj">{{'PROJETOS.FORM.CAMPOS.CNPJ' | translate}}:</label>
                    </span>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <app-dropdown-pais formControlName="pais"
                                       label="{{'PROJETOS.FORM.CAMPOS.NACIONALIDADE_EMPRESA' | translate}}:"></app-dropdown-pais>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <p-calendar formControlName="dataInicio"
                                    [maxDate]="form.get('dataConclusao').value ? form.get('dataConclusao').value : null"
                                    id="dataInicio"
                                    dateFormat="dd/mm/yy"></p-calendar>
                        <label for="dataInicio">{{'PROJETOS.FORM.CAMPOS.DATA_INICIO' | translate}}:</label>
                    </span>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <p-calendar formControlName="dataConclusao"
                                    [minDate]="form.get('dataInicio').value ? form.get('dataInicio').value : null"
                                    id="dataConclusao"
                                    dateFormat="dd/mm/yy"></p-calendar>
                        <label for="dataConclusao">{{'PROJETOS.FORM.CAMPOS.DATA_CONCLUSAO' | translate}}:</label>
                    </span>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-12">
                    <app-dropdown-estado formControlName="estado"
                                         (ngModelChange)="limpaCidade()"
                                         label="{{'PROJETOS.FORM.CAMPOS.ESTADO' | translate}}:"></app-dropdown-estado>
                </div>
                <div *ngIf="form.get('estado').value" class="ui-g-6 ui-sm-12">
                    <app-dropdown-cidade formControlName="cidade"
                                         [estado]="form.get('estado').value"
                                         label="{{'PROJETOS.FORM.CAMPOS.CIDADE' | translate}}:"></app-dropdown-cidade>
                </div>
            </div>

            <div class="ui-g-12">
                <div *ngIf="segmentos.length"
                     class="ui-g-6 ui-sm-12 fix-label-multiSelect">
                    <label for="segmentoList">{{'PROJETOS.FORM.CAMPOS.SEGMENTOS' | translate}}:</label>
                    <p-multiSelect [options]="segmentos"
                                   [filter]="false"
                                   defaultLabel="{{'SELECIONE' | translate}}"
                                   selectedItemsLabel="{0} {{'ITENS_SELECIONADOS' | translate}}"
                                   id="segmentoList"
                                   optionLabel="label"
                                   formControlName="segmentoList"></p-multiSelect>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <app-dropdown-natureza-investimento formControlName="naturezaInvestimento"
                                                        label="{{'PROJETOS.FORM.CAMPOS.NATUREZA_INVESTIMENTO' | translate}}:"></app-dropdown-natureza-investimento>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-12">
                    <app-dropdown-modelo-contrato formControlName="modeloContrato"
                                                  label="{{'PROJETOS.FORM.CAMPOS.MODELO_CONTRATO' | translate}}:"></app-dropdown-modelo-contrato>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <span class="ui-float-label">
                        <input currencyMask
                               class="align-left"
                               id="valorProjeto"
                               formControlName="valorProjeto"
                               type="text"
                               pInputText/>
                        <label for="valorProjeto">{{'PROJETOS.FORM.CAMPOS.VALOR_ESTIMADO' | translate}}:</label>
                    </span>
                </div>
            </div>

            <div class="ui-g-12">
                <div *ngIf="perfil != 'INVESTIDOR'" class="ui-g-6 ui-sm-12">
                    <app-dropdown-status [notStatusList]="[1,2,3,9,10]" formControlName="status"
                                         label="{{'PROJETOS.FORM.CAMPOS.STATUS' | translate}}:"></app-dropdown-status>
                </div>
            </div>

        </form>

    </div>

    <div class="ui-g-12">
        <div class="ui-md-offset-6 ui-g-3 ui-sm-12">
            <button (click)="consultar()" id="btnConsulta" pButton label="{{'PROJETOS.FORM.CAMPOS.CONSULTAR' | translate}}" type="button">
            </button>
        </div>
        <div class="ui-g-3 ui-sm-12">
            <button (click)="fecharFiltro()" id="btnCancelar" pButton label="{{'PROJETOS.FORM.CAMPOS.CANCELAR' | translate}}" type="button"></button>
        </div>
    </div>

</p-fieldset>
