@import "../../../../assets/theme/theme-teal";

.labeled-dropdown {
    position: relative;
}
.labeled-dropdown:hover p-dropdown > div {
    z-index: 2;
}
.float-label {
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    pointer-events: none;
}
.labeled-dropdown .float-label {
top: 1px;
left: 5px;
position: absolute;
color: #999;
}
.labeled-dropdown.filled .float-label {
top: -20px;
font-size: 12px;
color: $primaryColor;
}
