<div class="labeled-dropdown" [ngClass]="{'filled': selected !== null && selected !== undefined}">
    <ng-content></ng-content>
    <label class="float-label">{{label}}{{required ? '*': ''}}</label>
</div>
<span class="md-inputfield" *ngIf="form && field">
    <div class="ui-message ui-messages-error" *ngIf="form.controls[field] && !form.controls[field].value
     && form.submitted">{{labelObrigatorio}}
    </div>
</span>
