$primaryColor: #00AEEF;
$primaryDarkColor: darken($primaryColor, 5%);
$primaryLightColor: lighten($primaryColor, 5%);
$accentColor: #FFB830;
$accentDarkColor: darken($accentColor, 5%);
$accentLightColor: lighten($accentColor, 5%);
$accentTextColor: #212121;

app-grid {
    .ui-chkbox {
        width: 2.25em;
        height: 2.25em;
    }

    .ui-chkbox .ui-chkbox-box {
        width: 2.25em;
        height: 2.25em;
        text-align: center;
    }

    .ui-chkbox-icon.ui-clickable.pi.pi-check {
        color: #fff;
        margin-top: 4px;
        margin-left: 2px;
    }

    p-message .ui-message {
        padding: 10px;
    }

    .acoes > :first-child {
        display: flex;
        justify-content: center;

        button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .ui-table-caption {
        font-weight: bold;
        font-size: 20px;
    }

    .ui-table-thead > tr > th {
        color: #fff;
        font-weight: bold!important;
    }

    .ui-table-thead > tr > th {
        background: $primaryColor !important;
        border-color: $primaryDarkColor !important;
        color: #fff !important;

        &:not(.ui-state-highlight):hover .ui-sortable-column-icon {
            background: $primaryColor !important;
        }

        .ui-sortable-column-icon {
            color: #fff!important;
        }

        &.ui-state-highlight {
            background: $accentColor !important;
            border-color: $accentDarkColor !important;
            color: #212121 !important;

            .ui-sortable-column-icon {
                color: #212121!important;
            }
        }
    }
}
