<p-table *ngIf="!mensagemDeErro.length"
         #dt
         (onLazyLoad)="lazyLoad($event)"
         [columns]="colunas"
         [value]="lista"
         [lazy]="true"
         [responsive]="true"
         [sortField]="campoOrdenacao"
         [sortOrder]="modoOrdenacao"
         [rowsPerPageOptions]="[30, 50, 100]"
         [totalRecords]="quantidadeRegistros"
         [scrollable]="true"
         [paginator]="mostrarPaginacao"
         [alwaysShowPaginator]="mostrarPaginacao"
         [loading]="estaCarregando"
         [rows]="quantidadePorPagina"
         [(selection)]="itensSelecionados"
         (selectionChange)="itemSelecionado()">
    <ng-template *ngIf="titulo" pTemplate="caption">
        {{titulo}}
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="selecionarLinha">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let coluna of colunas">
                <th *ngIf="coluna.ordenavel === undefined || !!coluna.ordenavel"
                    [title]="coluna.campo"
                    [pSortableColumn]="coluna.campo">

                    <div class="column-container">

                        <span>
                            {{coluna.label}}
                        </span>

                        <p-sortIcon [field]="coluna.campo"></p-sortIcon>

                    </div>

                </th>
                <th *ngIf="coluna.ordenavel === false"
                    [title]="coluna.campo">

                    <div class="column-container">

                        <span>
                            {{coluna.label}}
                        </span>

                    </div>

                </th>
            </ng-container>

            <th *ngIf="mostrarAcoes">
                {{'ACOES' | translate}}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>

            <td style="text-align: center;" *ngIf="selecionarLinha">
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>

            <td *ngFor="let coluna of colunas" style="text-align: center;">

                <ng-container [ngSwitch]="true">

                    <ng-container *ngSwitchCase="colunaComum(coluna)">
                        {{coluna.getResultado(item)}}
                    </ng-container>

                    <ng-container *ngSwitchCase="colunaHtml(coluna)">
                        <div [innerHTML]="coluna.getResultado(item)"></div>
                    </ng-container>

                    <ng-container *ngSwitchCase="colunaCheckbox(coluna)">
                        <p-checkbox (onChange)="checkboxAlterado(item, i)"
                                    [ngModel]="coluna.getResultado(item)"
                                    [disabled]="coluna.getDesabilitado && coluna.getDesabilitado(item)"
                                    binary="true">
                        </p-checkbox>
                    </ng-container>

                    <ng-container *ngSwitchCase="colunaIcone(coluna)">
                        <i [class]="coluna.getResultado(item)"
                           style="font-size: 2em"></i>
                    </ng-container>

                </ng-container>

            </td>

            <td *ngIf="mostrarAcoes">
                <div class="acoes">
                    <ng-container [ngTemplateOutlet]="acoesGrid"
                                  [ngTemplateOutletContext]="{item: item, i: i, quantidadeRegistros: quantidadeRegistros}"></ng-container>
                </div>
            </td>

        </tr>
    </ng-template>


    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                {{mensagemSemResultados}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        {{'QUANTIDADE_REGISTROS' | translate}}: {{quantidadeRegistros}}
    </ng-template>

</p-table>

<div *ngIf="mensagemDeErro.length">
    <ng-container *ngFor="let mensagem of mensagemDeErro">
        <p-message [severity]="mensagem.gravidade" [text]="mensagem.resumo + mensagem.detalhamento"></p-message>
    </ng-container>
</div>
