<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-12">
                        <span class="page-title">Usuário - </span>
                        <span class="page-subtitle">Histórico</span>
                    </div>
                </div>
                <div *ngFor="let h of historicos" class="ui-g-12">
                    <p-fieldset [legend]="tipoAcoesHistorico | historicoPipe: 'label': h.tipoAcao: 'value'">
                        <div class="ui-g-12">
                            <span><strong>Usuário que realizou a ação: </strong>{{h.usuarioAcao}}</span>
                        </div>
                        <div class="ui-g-12">
                            <span><strong>Data/Hora da Ação: </strong>{{h.dataHoraAcao | date: 'dd/MM/yyyy - HH:mm'}}</span>
                        </div>
                        <div class="ui-g-12" *ngIf="isStatus(h.tipoAcao)">
                            <span><strong>Justificativa: </strong>{{h.campos | historicoPipe: 'campo':'justificativa': 'valorAtual'}}</span>
                        </div>
                        <div class="ui-g-12" *ngIf="isAlteracao(h.tipoAcao)">
                            <p-table [columns]="cols" [value]="h.campos" [paginator]="false" responsive="true">
                                <ng-template let-columns pTemplate="header">
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template let-columns="columns" let-rowData pTemplate="body">
                                    <tr [pSelectableRow]="rowData">
                                        <td *ngFor="let col of columns">
                                            {{ col.pipe.transform(rowData[col.field], this.entidade) }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-fieldset>
                </div>
                <div class="ui-g-3 ui-md-offset-9 ui-sm-12">
                    <button id="btnVoltar" pButton type="button" icon="ui-icon-arrow-back" label="Voltar"
                            [routerLink]="['/usuario']">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

