<div class="ui-g ui-fluid">

    <div class="ui-g-12">
        <span class="page-title">{{'PROJETOS.TITULO' | translate}} - <span class="page-subtitle">{{'PROJETOS.EDITAR' | translate}}</span></span>
    </div>

    <div class="ui-g-12">
        <p-messages [(value)]="mensagensAlerta"></p-messages>
    </div>

    <div *ngIf="projeto"
         class="ui-g-12">
        <app-projetos-formulario [projeto]="projeto"
                                 (criacaoForm)="criacaoForm($event)"></app-projetos-formulario>
    </div>

    <div *ngIf="form" class="ui-g-12">
        <div class="ui-g-12">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-2 ui-lg-2 ui-md-12 ui-sm-12">
                <button pButton
                        [disabled]="!form.valid || !form.get('declaracaoTermo').value"
                        (click)="salvar()"
                        icon="ui-icon-save"
                        id="btnSalvar"
                        label="{{'PROJETOS.FORM.CAMPOS.SALVAR_RASCUNHO' | translate}}"></button>
            </div>
            <div *ngIf="!projetoEmEsclarecimento()" class="ui-g-2 ui-lg-2 ui-md-12 ui-sm-12">
                <button pButton
                        [disabled]="!validaTodosCamposPreenchidos(form.value)"
                        (click)="salvarEnviar()"
                        icon="ui-icon-send"
                        id="btnSalvarEnviar"
                        label="{{'PROJETOS.FORM.CAMPOS.SALVAR_ENVIAR' | translate}}"></button>
            </div>
            <div class="ui-g-2 ui-lg-2 ui-md-12 ui-sm-12">
                <button pButton
                        class="ui-button-danger"
                        (click)="cancelar()"
                        icon="ui-icon-highlight-off"
                        id="btnCancelar"
                        label="{{'PROJETOS.FORM.CAMPOS.CANCELAR' | translate}}"></button>
            </div>
        </div>
    </div>

</div>
