<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <span class="page-title">{{'MEUS_DADOS' | translate}} - </span>
            <span class="page-subtitle">{{(usuario.perfilEnum | perfilPipe) | translate}}</span>
        </div>
        <app-formulario [usuario]="usuario" [perfil]="perfil"></app-formulario>
    </div>
</div>
