<div *ngIf="projeto"
     class="ui-g-12">

    <div *ngIf="imagemURL"
         class="ui-g-12 background-projeto"
         [ngStyle]="{background: 'url(' + imagemURL + ') no-repeat center center'}"></div>

    <div class="margin-background">

        <div class="ui-g-12">
            <div *ngIf="optionsGmap" class="ui-g-4 ui-md-12 ui-sm-12">
                <p-gmap *ngIf="optionsGmap"
                        [options]="optionsGmap"
                        [overlays]="overlaysGmap"
                        [style]="{'width':'100%','height':'350px'}"></p-gmap>

                <p><b>{{'PROJETOS.FORM.CAMPOS.SEGMENTOS' | translate}}:</b>
                    <ng-container *ngFor="let segmento of projeto.segmentos"><span
                        class="badge-segmento">{{'SEGMENTO.' + segmento.segmento.id | translate }}</span></ng-container>
                </p>

                <p-fieldset *ngIf="anexoList.length" legend="{{'PROJETOS.FORM.CAMPOS.ANEXOS' | translate}}">

                    <p *ngFor="let anexo of anexoList">
                        <a (click)="baixarArquivo(anexo)" style="color: blue; cursor: pointer;"><i
                            class=" pi pi-paperclip"></i> {{pegaNomeArquivo(anexo)}}</a>
                    </p>
                </p-fieldset>
            </div>

            <div *ngIf="optionsGmap" class="ui-g-8 ui-md-12 ui-sm-12">

                <div *ngIf="projeto" class="ui-g-12">
                    <h2 class="titulo-projeto">{{internacionalizacao.nome}}</h2>

                    <ng-container *ngIf="projeto.localizacoes.length">
                        <p>{{projeto.localizacoes[0].estado}} - {{projeto.localizacoes[0].cidade}}</p>
                    </ng-container>

                </div>

                <div *ngIf="projeto" class="ui-g-6 ui-md-12 ui-sm-12">
                    <p><b>{{'PROJETOS.FORM.CAMPOS.RAZAO_SOCIAL' | translate}}:</b> {{projeto.empresas[0].razaoSocial}}</p>
                    <p *ngIf="projeto.empresas[0].pais"><b>{{'PROJETOS.FORM.CAMPOS.NACIONALIDADE_EMPRESA' | translate}}:</b> {{projeto.empresas[0].pais.nome}}</p>
                    <p><b>{{'PROJETOS.FORM.CAMPOS.SITE' | translate}}:</b> <a [href]="formataUrl(projeto.empresas[0].url)"
                                                  target="_blank"> {{formataUrl(projeto.empresas[0].url)}}</a></p>
                </div>

                <div *ngIf="projeto" class="ui-g-6 ui-md-12 ui-sm-12">
                    <p><b>{{'PROJETOS.FORM.CAMPOS.CNPJ' | translate}}:</b> {{formataCNPJ(projeto.empresas[0].cnpj)}}</p>
                    <p><b>{{'PROJETOS.FORM.CAMPOS.RESPONSAVEL' | translate}}:</b> {{projeto.empresas[0].responsavel}}</p>
                </div>

                <div class="clearfix"></div>

                <div *ngIf="projeto" class="ui-g-6 ui-md-12 ui-sm-12">
                    <p><b>{{'PROJETOS.FORM.CAMPOS.DATA_INICIO' | translate}}:</b> {{converterData(projeto.detalhes[0].dataInicio)}}</p>
                </div>

                <div *ngIf="projeto" class="ui-g-6 ui-md-12 ui-sm-12">
                    <p><b>{{'PROJETOS.FORM.CAMPOS.DATA_CONCLUSAO' | translate}}:</b> {{converterData(projeto.detalhes[0].dataConclusao)}}</p>
                </div>

                <div *ngIf="projeto" class="ui-g-6 ui-md-12 ui-sm-12">
                    <p *ngIf="projeto.detalhes[0].naturezaInvestimento"><b>{{'PROJETOS.FORM.CAMPOS.NATUREZA_INVESTIMENTO' | translate}}:</b> {{projeto.detalhes[0].naturezaInvestimento.nome}}</p>
                    <p *ngIf="projeto.detalhes[0].valorProjeto"><b>{{'PROJETOS.FORM.CAMPOS.VALOR_ESTIMADO' | translate}}:</b> {{projeto.detalhes[0].valorProjeto | currency}}</p>
                    <p><b>{{'PROJETOS.FORM.CAMPOS.AREA_CONSTRUIDA' | translate}}</b> {{projeto.detalhes[0].areaConstruida}}
                    </p>
                    <p><b>{{'PROJETOS.FORM.CAMPOS.GRUPO_OPERADOR' | translate}}:</b> {{projeto.detalhes[0].grupoOperador}}</p>
                </div>

                <div *ngIf="projeto" class="ui-g-6 ui-md-12 ui-sm-12">
                    <p *ngIf="projeto.detalhes[0].modeloContrato"><b>{{'PROJETOS.FORM.CAMPOS.MODELO_CONTRATO' | translate}}:</b> {{projeto.detalhes[0].modeloContrato.nome}}</p>
                    <p *ngIf="projeto.detalhes[0].empregosProjeto"><b>{{'PROJETOS.FORM.CAMPOS.ESTIMATIVA_EMPREGOS' | translate}}:</b> {{projeto.detalhes[0].empregosProjeto}}</p>
                    <p><b>{{'PROJETOS.FORM.CAMPOS.AREA_TOTAL' | translate}}:</b> {{projeto.detalhes[0].areaTotal}}</p>
                </div>

                <div class="clearfix"></div>

                <div *ngIf="projeto.equipamentos.length" class="ui-g-12">
                    <p><b>{{'PROJETOS.FORM.CAMPOS.EQUIPAMENTO' | translate}}:</b> {{'GRUPO_EQUIPAMENTO.' + projeto.equipamentos[0].grupoEquipamento.id | translate}}
                        <ng-container *ngIf="projeto.equipamentos[0].equipamento">
                            - {{'EQUIPAMENTO.' + projeto.equipamentos[0].equipamento.id | translate}}
                        </ng-container>
                    </p>

                    <ng-container *ngFor="let campo of camposEquipamento">
                        <p><b>{{pegaNomeCampoEquipamento(campo)}}:</b> {{projeto.equipamentos[0][campo]}}</p>
                    </ng-container>
                </div>

                <div *ngIf="projeto" class="ui-g-12">
                    <p><b>{{'PROJETOS.FORM.CAMPOS.DESCRICAO' | translate}}:</b></p>
                    <div class="ql-editor" [innerHTML]="internacionalizacao.descricao | safeHtml"></div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>
    </div>

</div>
