@import '../../../assets/sass/_variables.scss';

app-projetos-publicacao {
    .imagem-projeto {
        max-width: 100%;
        display: block;
    }

    .badge-segmento {
        background: $green;
        color: #fff;
        margin-left: 5px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .background-projeto {
        height: 300px;
        background-size: cover !important;
        float: none;
        width: 100%;
    }

    .titulo-projeto {
        font-size: 2em;
        color: $indigoHover;
        text-transform: uppercase;
        margin: 0;
    }

    p, a, b {
        font-size: 1.1em;
    }

    .margin-background {
        margin-top: 30px;
    }

    .ql-editor {
        margin-top: 15px;
        padding: 0;
    }
}
