<form [formGroup]="form">

    <div class="ui-g-12">

        <span class="md-inputfield fix-label-editor">
            <p-editor id="justificativa"
                      formControlName="justificativa"
                      placeholder="{{ 'PROJETOS.VISUALIZAR_PROJETO.DIGITE_COMENTARIO' | translate }}*:"
                      [style]="{'height':'320px'}"></p-editor>
        </span>

        <app-form-messages [control]="form.get('justificativa')"></app-form-messages>

    </div>

    <div class="ui-g-12" style="margin-top: 20px;">

        <p-fileUpload #fileUploadAttachmentComponent
                      (uploadHandler)="enviarArquivoAnexo($event)"
                      chooseLabel="Upload"
                      [customUpload]="true"
                      [auto]="true"
                      [accept]="anexoMimeType"
                      mode="basic"></p-fileUpload>

        <div class="ui-g-12">
            <div style="margin-top: 25px;" *ngIf="form.get('anexoList').value.length">
                <ul class="lista-anexos">
                    <li *ngFor="let anexo of form.get('anexoList').value; let i = index;">
                        <div class="deletar-anexo-container"
                             (click)="removerAnexo(i)">
                            <div class="deletar-anexo">
                                <i class="pi pi-trash"></i>
                            </div>
                            <i class="pi pi-file"></i>
                            <p>{{anexo.name}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</form>
