<form name="loginForm" (ngSubmit)="login(loginForm)" #loginForm="ngForm">
    <div class="card login-panel ui-fluid login-card">
        <div class="ui-g">

            <div class="ui-g-12">
                <img class="logo" src="../../../assets/images/pitlogo.jpeg">
            </div>

            <div style="margin-top: 20px;" class="ui-g-12">
                <app-input-label [label]="('EMAIL' | translate) + ':'" [required]="true" field="email">
                    <input id="inputEmail" pInputText type="text" [(ngModel)]="auth.email" name="email" maxlength="200" email required/>
                </app-input-label>
            </div>

            <div class="ui-g-12">
                <app-input-label [label]="('SENHA' | translate) + ':'" [required]="true" field="senha">
                    <input id="inputSenha" pInputText type="password" [(ngModel)]="auth.senha" name="senha"
                           autocomplete="false" required>
                </app-input-label>
            </div>

            <div class="ui-g-12">
                <a id="btnRecuperarSenha" class="cursor-pointer" (click)="acaoRecuperarSenha()">{{'RECUPERAR_SENHA' | translate}}</a>
            </div>

            <div class="ui-g-12 btn-list">
                <button id="btnLogin" pButton [label]="'ENTRAR' | translate" name="submit" [disabled]="!loginForm.valid"></button>
            </div>

            <div style="margin-top: 40px;" class="ui-g-12">
                <a id="btnCadastrar" class="cursor-pointer" (click)="buscarPerfil()">
                    {{'SEM_CADASTRO' | translate}}
                    <span>{{'SEM_CADASTRO_CLIQUE' | translate}}</span>
                </a>
            </div>

            <div style="margin-top: 40px;" class="ui-g-12">
                <app-dropdown-label id="selectLinguagem" [label]="'IDIOMA_CAMPO' | translate" field="linguagem" [selected]="langs">
                    <p-dropdown [options]="langs" [(ngModel)]="lingua" (onChange)="useLanguage(lingua)" name="status"></p-dropdown>
                </app-dropdown-label>
            </div>

        </div>
    </div>
</form>

<p-dialog [visible]="recuperarSenha" resizable="true" responsive="true" modal="true" closeIcon="false"
          [showHeader]="false" draggable="false">
    <div class="page-subtitle align-center">
        <div class="ui-g-11 padding-bottom">
            <h3>{{'PORTAL' | translate}}</h3>
        </div>
        <div class="ui-g-1">
            <span id="btnVoltar" class="cursor-pointer" (click)="acaoRecuperarSenha()">x</span>
        </div>
    </div>
    <form name="recuperarSenhaForm" (ngSubmit)="novaSenha()" #recuperarSenhaForm="ngForm">
        <div class="ui-g-12 ui-fluid padding-bottom">
            <div class="ui-g-12 padding-bottom">
                <app-input-label [label]="('EMAIL' | translate) + ':'" [required]="true" field="email">
                    <input id="inputRecuperar" pInputText type="text" [(ngModel)]="email" name="email" email
                           required/>
                </app-input-label>
            </div>
            <div class="ui-g-12 padding-bottom">
                <button id="btnRecuperar" pButton [label]="'RECUPERAR_SENHA' | translate" type="button" (click)="novaSenha()"
                        [disabled]="validarRecuperacao(recuperarSenhaForm)"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog id="dialogCadastro" [visible]="dialogCadastro" responsive="true" closeIcon="false" modal="true" [showHeader]="false">
    <header class="align-center">
        <div class="ui-g-offset-11 ui-g-1">
            <button id="btnFechar" class="btn-close" pButton [style]="{width: '25px', height: '30px'}"
                    icon="ui-icon-close" (click)="verDialogCadastro()"></button>
        </div>
        <div class="ui-g-12">
            <h1>{{'ADICIONAR' | translate}}</h1>
        </div>
    </header>
    <div class="ui-g-12 align-center">
        <div class="ui-g-6 ui-sm-12" *ngFor="let perfil of perfis" [ngClass]="{'box-shadow-1em': usuario.perfilEnum == perfil.nome}">
            <p-card [id]="perfil.nome" class="cursor-pointer" (click)="selecionarPerfil(perfil.nome)">
                <em class="ui-icon-person icon-size" *ngIf="iconeEmpreendedor(perfil.nome)"></em>
                <em class="ui-icon-monetization-on icon-size" *ngIf="iconeInvestidor(perfil.nome)"></em>
                <h2>{{perfil.nome | translate}}</h2>
                <span>{{'DESCRICAO.' + perfil.nome | translate}}</span>
            </p-card>
        </div>
    </div>
    <div class="ui-g-12 ui-fluid align-center">
        <div class="ui-md-offset-4 ui-g-4 ui-sm-12">
            <button id="btnConfirmar" pButton [label]="'INICIAR_CADASTRO' | translate" type="button" [disabled]="perfilSelecionado()"
                    [routerLink]="['/cadastro-usuario', perfilEnum.urlItem(this.usuario.perfilEnum)]" >
            </button>
        </div>
    </div>
</p-dialog>
