$blue: #2E6EB5;

login-interno {

    & > form {
        position: relative;
        height: 100vh;
        background: url("../../../assets/images/background-login.jpg") no-repeat center center;
        background-size: cover !important;

        & .login-panel > .ui-g {
            z-index: 11;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:after {
            display: block;
            content: "";
            background: rgba(0,0,0,0.5);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    .login-panel {
        margin: 0;
        height: 100vh;
        background: #F7F7F7;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        z-index: 2;
        width: 450px;
        padding: 65px 45px;

        .ui-g .ui-g-12 {
            padding: 15px 0!important;
        }

        #btnRecuperarSenha {
            text-transform: uppercase;
            text-align: right;
            display: block;
            color: $blue;
        }

        .btn-list {
            display: flex;
            align-items: start;

            #btnLogin {
                width: auto;
                background-color: $blue;
                padding: 0 30px;
                height: auto;
                text-transform: uppercase;
            }
        }

        #btnCadastrar {
            text-transform: uppercase;
            span {
                display: block;
                color: $blue;
            }
        }
    }

    .logo {
        width: 100%;
        display: block;
    }



    @media screen and (max-width: 580px) {
        .login-panel {
            width: 100%;
        }
    }
}
