<span class="md-inputfield">
    <ng-content></ng-content>
    <label>{{label}}{{required ? '*': ''}}</label>
</span>
<span class="md-inputfield" *ngIf="form && field">
    <div class="ui-message ui-messages-error" *ngIf="validaMensagem()">{{labelObrigatorio | translate}}</div>
</span>
