<div class="footer">
    <div class="card clearfix">
        <app-version-tag cssClass="footer-text-left"></app-version-tag>
        <span class="footer-text-left">SISINVEST</span>
        <span class="footer-text-right">
            <span class="ui-icon ui-icon-copyright"></span>
            <span>Todos os direitos reservados</span>
        </span>
    </div>
</div>
