<div class="ui-g-12">

    <app-grid #gridComponent
              [callbackBuscarDados]="callbackBuscarDados"
              [colunas]="colunasFavoritos"
              [modoOrdenacao]="-1"
              campoOrdenacao="dataAtualizacao"
              titulo="Mensagens">

        <ng-template #acoesGrid let-item="item" let-i="i">
            <app-central-comunicacao-lista-acoes [item]="item">
            </app-central-comunicacao-lista-acoes>
        </ng-template>

    </app-grid>
</div>
