<div *ngIf="filterConsultar && this.itensSelecionados.length" class="ui-g-2 ui-sm-12">
    <button (click)="gerarPortfolio()"
            id="btnGerarPortfolio"
            class="ui-button-info"
            pButton
            label="Gerar Portfólio"></button>
</div>

<div class="clearfix"></div>

<div *ngIf="callbackBuscarDadosFavoritos"
     class="ui-g-12">

    <app-grid #gridComponent
              (itemSelecionadoEvent)="itemSelecionado($event)"
              [callbackBuscarDados]="callbackBuscarDadosFavoritos"
              [colunas]="colunasFavoritos"
              [filtros]="filtroFavoritos"
              [modoOrdenacao]="-1"
              campoOrdenacao="dataAtualizacao"
              titulo="{{filterConsultar ? ('PROJETOS.TITULO' | translate) : ('PROJETOS.GRID.PROJETOS_FAVORITOS' | translate)}}"
              mensagemSemResultados="Adicione projetos aos seus favoritos para que eles sejam exibidos aqui">

        <ng-template #acoesGrid let-item="item" let-i="i">
            <app-projetos-lista-investidor-acoes (acaoRealizada)="atualizarGrids()"
                                                 [item]="item"
                                                 [index]="i"
                                                 [usuarioId]="usuarioId">
            </app-projetos-lista-investidor-acoes>
        </ng-template>

    </app-grid>
</div>
