@import '../../../../assets/sass/_variables.scss';

app-projetos-lista-investidor {
    app-grid {
        .badge-segmento {
            background: $green;
            color: #fff;
            margin-left: 5px;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 5px;
            display: block;
            margin-top: 10px;
        }
    }
}
