@import "assets/theme/theme-teal";

.lista-idioma-topbar {
    list-style: outside none none;
    padding: 0;
    margin: 8px 0 0;
    float: right;

    li {
        display: inline-block;
        margin-right: 10px;

        .idioma-topbar {
            cursor: pointer;
            max-width: 32px;
            display: block;
        }

    }
}

.align-center {
    text-align: center;
}

.page-title {
    font-size: 30px;
    color: $primaryColor;
    font-weight: bold;
}

.page-subtitle {
    font-size: 20px;
    color: $primaryColor;
}

.icon-success {
    color: $primaryColor;
}

.icon-error {
    color: $errorMessageBgColor;
}

.icon-size {
    font-size: 6em;
}

body .ui-widget-overlay {
    opacity: 1;
    background-color: rgba(88, 87, 92, 0.8);
}

body .ui-card-body {
    height: 250px;
}

body .ui-dialog .ui-dialog-content {
    max-width: 700px;
}

.color-success {
    color: $blueHover;
}

.padding-bottom {
    padding-bottom: 20px;
}

.pi-sort-alt {
    @extend .pi-sort
}

.pi-sort-amount-up-alt {
    @extend .pi-sort-up
}

.pi-sort-amount-down {
    @extend .pi-sort-down
}

#text-area {
    height: 200px;
    width: -webkit-fill-available;
    border-color: $primaryColor;
}

.box-shadow-1em {
    box-shadow: 0 0 1em black;
}

.login-card {
    width: 400px;
}

.margin-top-10px {
    margin-top: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.width-700px {
    width: 700px;
}

.custom-swal {
    width: 50%!important;
}

.splash-screen {
    background: #009688;
}

.layout-container .topbar .topbar-left {
    background-color: #f7f7f7;
    padding: 10px 20px;
}

.layout-container .topbar .logo{
    background: url("./assets/images/pitlogo.png") center left no-repeat;
    background-size: contain !important;
    height: 55px;
}

.padding-left-30px {
    padding-left: 30px;
}
