<div *ngIf="callbackBuscarDados"
     class="ui-g-12">
    <app-grid #gridComponent
              (itemSelecionadoEvent)="itemSelecionado($event)"
              [callbackBuscarDados]="callbackBuscarDados"
              [colunas]="colunas"
              [filtros]="filtro"
              [modoOrdenacao]="-1"
              titulo="{{'PROJETOS.TITULO' | translate}}"
              campoOrdenacao="dataAtualizacao">

        <ng-template #acoesGrid let-item="item" let-i="i">
            <app-projetos-lista-gestor-acoes (acaoRealizada)="atualizarGrids()"
                                             [item]="item"
                                             [index]="i"
                                             [usuarioId]="usuarioId">
            </app-projetos-lista-gestor-acoes>
        </ng-template>

    </app-grid>
</div>
